<footer role="contentinfo" id="footer">
  <div class="seperator">
    <hr>
  </div>
  <address>
    <ul>
      <li>Kontakt na farnost:
        <a class="link" href="mailto:ccsh.sporilov@seznam.cz">ccsh.sporilov@seznam.cz</a>
      </li>
      <!-- <li>Telefon: <a class="link" href="tel:+420272761280">+420 272 76 12 80</a></li> -->
      <li>Osobní kontakt na faráře:
        <a class="link" href="mailto:jan.hlavsa@seznam.cz">jan.hlavsa@seznam.cz</a>
      </li>
      <li>IČO: 991 825 827</li>
      <li>Jihovýchodní VII 945/2, Praha 4-Záběhlice, stanice Nad Pahorkem</li>
      <li class="last">
        <a class="link" href="https://www.ccsh.cz/">Církev československá husitská</a>
      </li>
    </ul>
  </address>
</footer>