<footer role="contentinfo" id="footer">
  <div class="seperator">
    <hr>
  </div>
  <address>
    <ul>
      <li>Kontakt na farnost:
        <a class="link" href="mailto:sporilov@ccsh.cz">sporilov@ccsh.cz</a>
      </li>
      <li>Telefon: <a class="link" href="tel:+496170961709">+420 22 45 10 00</a></li>
      <li>Osobní kontakt na faráře:
        <a class="link" href="mailto:jan.hlavsa@seznam.cz">jan.hlavsa@seznam.cz</a>
      </li>
      <li>IČO: 991 825 827</li>
      <li>Jihovýchodní VII 945/2, Praha 4-Záběhlice, stanice Nad Pahorkem</li>
      <li class="last">
        <a class="link" href="https://www.ccsh.cz/">Církev československá husitská</a>
      </li>
    </ul>
  </address>
</footer>