<div class="app-banner app-banner--confirmation" id="app-banner">
  <div class="width-container">
    <p class="alert-body">
      Vaše zpráva byla odeslána. Bůh vám požehnej.
    </p>
    <div>
      <button class="hide-button app-banner__button" onclick="hideSection()">Schovat toto oznámení</button>
    </div>
  </div>
</div>