<div class="app-banner app-banner--warning app-banner--notify" id="app-banner--notify flash-messages">
  <div class="width-container">
    <p class="alert-body">
      Srdečně vás zveme na Zahradní slavnost ke 100 letům založení CČSH.
    </p>
    <p class="alert-body">
      27. června od 14 hodin. Bohoslužba pod širým nebem.
    </p>
    <div>
      <button class="hide-button app-banner__button" onclick="hideSection2()">Schovat toto oznámení</button>
    </div>
  </div>
</div>