<div class="app-banner app-banner--warning app-banner--notify" id="app-banner--notify flash-messages">
  <div class="width-container">
    <p class="alert-body">
      Zveme vás na vázání věnců na Spořilově.
      <br>
      <br>
      Akce se uskuteční 30. listopadu, od 15:00.
    </p>
    <div>
      <button class="hide-button app-banner__button" onclick="hideSection2()">Schovat toto oznámení</button>
    </div>
  </div>
</div>