<div class="app-banner app-banner--warning" id="app-banner flash-messages">
  <div class="width-container">
    <p class="alert-body">
      Zveme vás na IV. záhradní slavnost na Spořilově.
      <br>
      <br>
      Ta se uskuteční 15. června, od 14:00. Dětský program připraven.
    </p>
    <div>
      <button class="hide-button app-banner__button" onclick="hideSection()">Schovat toto oznámení</button>
    </div>
  </div>
</div>