<div class="app-banner app-banner--warning app-banner--notify" id="app-banner--notify flash-messages">
  <div class="width-container">
    <p class="alert-body">
      Po postupném uvolňování vládních opatření se sejdeme 10. května v 9:30.
    </p>
    <div>
      <button class="hide-button app-banner__button" onclick="hideSection2()">Schovat toto oznámení</button>
    </div>
  </div>
</div>