<div class="app-banner app-banner--warning" id="app-banner flash-messages">
  <div class="width-container">
    <p class="alert-body">
      Vzpomínková bohoslužba za zemřelé na Spořilově.
      <br>
      <br>
      Ta se uskuteční 2. listopadu, od 18:00.
    </p>
    <div>
      <button class="hide-button app-banner__button" onclick="hideSection()">Schovat toto oznámení</button>
    </div>
  </div>
</div>