<div class="body-wrapper">
  <main role="main" id="content">
    <section class="section--colored section-pt-150_30 section-pb-90_30">
      <div class="container-px-25 container">
        <h2 class="utilities-color-grey utilites-mb-5 utilities-mb-10">Náboženská obec Praha-Spořilov</h2>
        <h1 class="utilities-font-60_32 utilities-mb-20 utilities-mb-30" style="max-width: 830px;">Fotogalerie</h1>
          <div class="stack stack--align_top stack--spacing">
            <div class="stack__item stack__fluid">
              <p class="utilities-color-grey author-date">vytvořeno 14. března 2019</p>
            </div>
          </div>
      </div>
    </section>
    
    <div class="container-px-25 container">

      <h2 class="utilities-font-24_20 utilities-mb-15 utilities-mb-25">I. zahradní slavnost a položení základního kamene památníku k 90. výročí naší církve</h2>
      <div class="my-gallery utilities-mb-15 utilities-mb-25" itemscope itemtype="http://schema.org/ImageGallery">

        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
          <a href="https://res.cloudinary.com/dlyy9lslc/image/upload/v1558983250/sporilov/slavnosti/iza-galerie-1_dccvqf.jpg" itemprop="contentUrl" data-size="500×375">
            <img src="https://res.cloudinary.com/dlyy9lslc/image/upload/v1558983250/sporilov/slavnosti/iza-galerie-1_dccvqf.jpg" itemprop="thumbnail"/>
          </a>
        </figure>

        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
          <a href="https://res.cloudinary.com/dlyy9lslc/image/upload/v1558983250/sporilov/slavnosti/iza-galerie-2_dbz2n4.jpg" itemprop="contentUrl" data-size="500x667">
            <img src="https://res.cloudinary.com/dlyy9lslc/image/upload/v1558983250/sporilov/slavnosti/iza-galerie-2_dbz2n4.jpg" itemprop="thumbnail"/>
          </a>
        </figure>

        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
          <a href="https://res.cloudinary.com/dlyy9lslc/image/upload/v1558983251/sporilov/slavnosti/iza-galerie-3_uvmew7.jpg" itemprop="contentUrl" data-size="500x375">
            <img src="https://res.cloudinary.com/dlyy9lslc/image/upload/v1558983251/sporilov/slavnosti/iza-galerie-3_uvmew7.jpg" itemprop="thumbnail"/>
          </a>
        </figure>

        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
          <a href="https://res.cloudinary.com/dlyy9lslc/image/upload/v1558983251/sporilov/slavnosti/iza-galerie-4_iispff.jpg" itemprop="contentUrl" data-size="500x375">
            <img src="https://res.cloudinary.com/dlyy9lslc/image/upload/v1558983251/sporilov/slavnosti/iza-galerie-4_iispff.jpg" itemprop="thumbnail"/>
          </a>
        </figure>

        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
          <a href="https://res.cloudinary.com/dlyy9lslc/image/upload/v1558983251/sporilov/slavnosti/iza-galerie-5_oouuyk.jpg" itemprop="contentUrl" data-size="500x375">
            <img src="https://res.cloudinary.com/dlyy9lslc/image/upload/v1558983251/sporilov/slavnosti/iza-galerie-5_oouuyk.jpg" itemprop="thumbnail"/>
          </a>
        </figure>

        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
          <a href="https://res.cloudinary.com/dlyy9lslc/image/upload/v1558983251/sporilov/slavnosti/iza-galerie-6_sma7kq.jpg" itemprop="contentUrl" data-size="500x375">
            <img src="https://res.cloudinary.com/dlyy9lslc/image/upload/v1558983251/sporilov/slavnosti/iza-galerie-6_sma7kq.jpg" itemprop="thumbnail"/>
          </a>
        </figure>

        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
          <a href="https://res.cloudinary.com/dlyy9lslc/image/upload/v1558983251/sporilov/slavnosti/iza-galerie-7_h5wltp.jpg" itemprop="contentUrl" data-size="500x375">
            <img src="https://res.cloudinary.com/dlyy9lslc/image/upload/v1558983251/sporilov/slavnosti/iza-galerie-7_h5wltp.jpg" itemprop="thumbnail"/>
          </a>
        </figure>

        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
          <a href="https://res.cloudinary.com/dlyy9lslc/image/upload/v1558983252/sporilov/slavnosti/iza-galerie-8_ljnhcc.jpg" itemprop="contentUrl" data-size="500x375">
            <img src="https://res.cloudinary.com/dlyy9lslc/image/upload/v1558983252/sporilov/slavnosti/iza-galerie-8_ljnhcc.jpg" itemprop="thumbnail"/>
          </a>
        </figure>

        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
          <a href="https://res.cloudinary.com/dlyy9lslc/image/upload/v1558983252/sporilov/slavnosti/iza-galerie-9_bbhhlq.jpg" itemprop="contentUrl" data-size="500x517">
            <img src="https://res.cloudinary.com/dlyy9lslc/image/upload/v1558983252/sporilov/slavnosti/iza-galerie-9_bbhhlq.jpg" itemprop="thumbnail"/>
          </a>
        </figure>

        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
          <a href="https://res.cloudinary.com/dlyy9lslc/image/upload/v1558983253/sporilov/slavnosti/iza-galerie-10_returm.jpg" itemprop="contentUrl" data-size="500x335">
            <img src="https://res.cloudinary.com/dlyy9lslc/image/upload/v1558983253/sporilov/slavnosti/iza-galerie-10_returm.jpg" itemprop="thumbnail"/>
          </a>
        </figure>

        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
          <a href="https://res.cloudinary.com/dlyy9lslc/image/upload/v1558983252/sporilov/slavnosti/iza-galerie-12_bttb5d.jpg" itemprop="contentUrl" data-size="500x209">
            <img src="https://res.cloudinary.com/dlyy9lslc/image/upload/v1558983252/sporilov/slavnosti/iza-galerie-12_bttb5d.jpg" itemprop="thumbnail"/>
          </a>
        </figure>

        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
          <a href="https://res.cloudinary.com/dlyy9lslc/image/upload/v1558983252/sporilov/slavnosti/iza-galerie-13_gut1xe.jpg" itemprop="contentUrl" data-size="500x335">
            <img src="https://res.cloudinary.com/dlyy9lslc/image/upload/v1558983252/sporilov/slavnosti/iza-galerie-13_gut1xe.jpg" itemprop="thumbnail"/>
          </a>
        </figure>

        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
          <a href="https://res.cloudinary.com/dlyy9lslc/image/upload/v1558983253/sporilov/slavnosti/iza-galerie-14_soc2ic.jpg" itemprop="contentUrl" data-size="500x419">
            <img src="https://res.cloudinary.com/dlyy9lslc/image/upload/v1558983253/sporilov/slavnosti/iza-galerie-14_soc2ic.jpg" itemprop="thumbnail"/>
          </a>
        </figure>

        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
          <a href="https://res.cloudinary.com/dlyy9lslc/image/upload/v1558983253/sporilov/slavnosti/iza-galerie-15_hrxqch.jpg" itemprop="contentUrl" data-size="500x236">
            <img src="https://res.cloudinary.com/dlyy9lslc/image/upload/v1558983253/sporilov/slavnosti/iza-galerie-15_hrxqch.jpg" itemprop="thumbnail"/>
          </a>
        </figure>

        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
          <a href="https://res.cloudinary.com/dlyy9lslc/image/upload/v1558983252/sporilov/slavnosti/iza-galerie-11_i1lhfu.jpg" itemprop="contentUrl" data-size="500x948">
            <img src="https://res.cloudinary.com/dlyy9lslc/image/upload/v1558983252/sporilov/slavnosti/iza-galerie-11_i1lhfu.jpg" itemprop="thumbnail"/>
          </a>
        </figure>

        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
          <a href="https://res.cloudinary.com/dlyy9lslc/image/upload/v1558983254/sporilov/slavnosti/iza-galerie-16_fclhvx.jpg" itemprop="contentUrl" data-size="500x747">
            <img src="https://res.cloudinary.com/dlyy9lslc/image/upload/v1558983254/sporilov/slavnosti/iza-galerie-16_fclhvx.jpg" itemprop="thumbnail"/>
          </a>
        </figure>

        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
          <a href="https://res.cloudinary.com/dlyy9lslc/image/upload/v1558983253/sporilov/slavnosti/iza-galerie-18_qyqtsj.jpg" itemprop="contentUrl" data-size="500x335">
            <img src="https://res.cloudinary.com/dlyy9lslc/image/upload/v1558983253/sporilov/slavnosti/iza-galerie-18_qyqtsj.jpg" itemprop="thumbnail"/>
          </a>
        </figure>

        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
          <a href="https://res.cloudinary.com/dlyy9lslc/image/upload/v1558983254/sporilov/slavnosti/iza-galerie-19_mv7mme.jpg" itemprop="contentUrl" data-size="500x339">
            <img src="https://res.cloudinary.com/dlyy9lslc/image/upload/v1558983254/sporilov/slavnosti/iza-galerie-19_mv7mme.jpg" itemprop="thumbnail"/>
          </a>
        </figure>
      </div>

      <h2 class="utilities-font-24_20 utilities-mb-15 utilities-mb-25">II. zahradní slavnost</h2>
      <div class="my-gallery utilities-mb-15 utilities-mb-25" itemscope itemtype="http://schema.org/ImageGallery">

        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
          <a href="https://res.cloudinary.com/dlyy9lslc/image/upload/v1558983244/sporilov/slavnosti/iiza-galerie-1_isul5x.jpg" itemprop="contentUrl" data-size="500x844">
            <img src="https://res.cloudinary.com/dlyy9lslc/image/upload/v1558983244/sporilov/slavnosti/iiza-galerie-1_isul5x.jpg" itemprop="thumbnail"/>
          </a>
        </figure>

        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
          <a href="https://res.cloudinary.com/dlyy9lslc/image/upload/v1558983244/sporilov/slavnosti/iiza-galerie-2_uw7acn.jpg" itemprop="contentUrl" data-size="500x753">
            <img src="https://res.cloudinary.com/dlyy9lslc/image/upload/v1558983244/sporilov/slavnosti/iiza-galerie-2_uw7acn.jpg" itemprop="thumbnail"/>
          </a>
        </figure>

        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
          <a href="https://res.cloudinary.com/dlyy9lslc/image/upload/v1558983243/sporilov/slavnosti/iiza-galerie-3_irvt7e.jpg" itemprop="contentUrl" data-size="500x332">
            <img src="https://res.cloudinary.com/dlyy9lslc/image/upload/v1558983243/sporilov/slavnosti/iiza-galerie-3_irvt7e.jpg" itemprop="thumbnail"/>
          </a>
        </figure>

        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
          <a href="https://res.cloudinary.com/dlyy9lslc/image/upload/v1558983249/sporilov/slavnosti/iiza-galerie-4_x3l2fa.jpg" itemprop="contentUrl" data-size="500x332">
            <img src="https://res.cloudinary.com/dlyy9lslc/image/upload/v1558983249/sporilov/slavnosti/iiza-galerie-4_x3l2fa.jpg" itemprop="thumbnail"/>
          </a>
        </figure>

        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
          <a href="https://res.cloudinary.com/dlyy9lslc/image/upload/v1558983245/sporilov/slavnosti/iiza-galerie-5_zj00rz.jpg" itemprop="contentUrl" data-size="500x332">
            <img src="https://res.cloudinary.com/dlyy9lslc/image/upload/v1558983245/sporilov/slavnosti/iiza-galerie-5_zj00rz.jpg" itemprop="thumbnail"/>
          </a>
        </figure>

        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
          <a href="https://res.cloudinary.com/dlyy9lslc/image/upload/v1558983246/sporilov/slavnosti/iiza-galerie-6_eo22d0.jpg" itemprop="contentUrl" data-size="500x332">
            <img src="https://res.cloudinary.com/dlyy9lslc/image/upload/v1558983246/sporilov/slavnosti/iiza-galerie-6_eo22d0.jpg" itemprop="thumbnail"/>
          </a>
        </figure>

        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
          <a href="https://res.cloudinary.com/dlyy9lslc/image/upload/v1558983247/sporilov/slavnosti/iiza-galerie-8_djwqmq.jpg" itemprop="contentUrl" data-size="500x332">
            <img src="https://res.cloudinary.com/dlyy9lslc/image/upload/v1558983247/sporilov/slavnosti/iiza-galerie-8_djwqmq.jpg" itemprop="thumbnail"/>
          </a>
        </figure>

        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
          <a href="https://res.cloudinary.com/dlyy9lslc/image/upload/v1558983247/sporilov/slavnosti/iiza-galerie-9_emvsyx.jpg" itemprop="contentUrl" data-size="500x466">
            <img src="https://res.cloudinary.com/dlyy9lslc/image/upload/v1558983247/sporilov/slavnosti/iiza-galerie-9_emvsyx.jpg" itemprop="thumbnail"/>
          </a>
        </figure>

        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
          <a href="https://res.cloudinary.com/dlyy9lslc/image/upload/v1558983248/sporilov/slavnosti/iiza-galerie-10_bmzaky.jpg" itemprop="contentUrl" data-size="500x753">
            <img src="https://res.cloudinary.com/dlyy9lslc/image/upload/v1558983248/sporilov/slavnosti/iiza-galerie-10_bmzaky.jpg" itemprop="thumbnail"/>
          </a>
        </figure>

        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
          <a href="https://res.cloudinary.com/dlyy9lslc/image/upload/v1558983248/sporilov/slavnosti/iiza-galerie-11_cnclyj.jpg" itemprop="contentUrl" data-size="500x332">
            <img src="https://res.cloudinary.com/dlyy9lslc/image/upload/v1558983248/sporilov/slavnosti/iiza-galerie-11_cnclyj.jpg" itemprop="thumbnail"/>
          </a>
        </figure>

        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
          <a href="https://res.cloudinary.com/dlyy9lslc/image/upload/v1558983251/sporilov/slavnosti/iiza-galerie-13_mqy4m7.jpg" itemprop="contentUrl" data-size="500x753">
            <img src="https://res.cloudinary.com/dlyy9lslc/image/upload/v1558983251/sporilov/slavnosti/iiza-galerie-13_mqy4m7.jpg" itemprop="thumbnail"/>
          </a>
        </figure>

        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
          <a href="https://res.cloudinary.com/dlyy9lslc/image/upload/v1558983248/sporilov/slavnosti/iiza-galerie-14_sovhog.jpg" itemprop="contentUrl" data-size="500x333">
            <img src="https://res.cloudinary.com/dlyy9lslc/image/upload/v1558983248/sporilov/slavnosti/iiza-galerie-14_sovhog.jpg" itemprop="thumbnail"/>
          </a>
        </figure>

        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
          <a href="https://res.cloudinary.com/dlyy9lslc/image/upload/v1558983249/sporilov/slavnosti/iiza-galerie-15_uhwt9k.jpg" itemprop="contentUrl" data-size="500x751">
            <img src="https://res.cloudinary.com/dlyy9lslc/image/upload/v1558983249/sporilov/slavnosti/iiza-galerie-15_uhwt9k.jpg" itemprop="thumbnail"/>
          </a>
        </figure>

        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
          <a href="https://res.cloudinary.com/dlyy9lslc/image/upload/v1558983248/sporilov/slavnosti/iiza-galerie-16_zk0lj6.jpg" itemprop="contentUrl" data-size="500x333">
            <img src="https://res.cloudinary.com/dlyy9lslc/image/upload/v1558983248/sporilov/slavnosti/iiza-galerie-16_zk0lj6.jpg" itemprop="thumbnail"/>
          </a>
        </figure>

        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
          <a href="https://res.cloudinary.com/dlyy9lslc/image/upload/v1558983249/sporilov/slavnosti/iiza-galerie-18_hzoqsh.jpg" itemprop="contentUrl" data-size="500x333">
            <img src="https://res.cloudinary.com/dlyy9lslc/image/upload/v1558983249/sporilov/slavnosti/iiza-galerie-18_hzoqsh.jpg" itemprop="thumbnail"/>
          </a>
        </figure>

        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
          <a href="https://res.cloudinary.com/dlyy9lslc/image/upload/v1558983250/sporilov/slavnosti/iiza-galerie-19_ak4nxq.jpg" itemprop="contentUrl" data-size="500x751">
            <img src="https://res.cloudinary.com/dlyy9lslc/image/upload/v1558983250/sporilov/slavnosti/iiza-galerie-19_ak4nxq.jpg" itemprop="thumbnail"/>
          </a>
        </figure>

        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
          <a href="https://res.cloudinary.com/dlyy9lslc/image/upload/v1558983250/sporilov/slavnosti/iiza-galerie-21_jqaauz.jpg" itemprop="contentUrl" data-size="500x334">
            <img src="https://res.cloudinary.com/dlyy9lslc/image/upload/v1558983250/sporilov/slavnosti/iiza-galerie-21_jqaauz.jpg" itemprop="thumbnail"/>
          </a>
        </figure>
      </div>

      <h2 class="utilities-font-24_20 utilities-mb-15 utilities-mb-25">III. zahradní slavnost</h2>
      <div class="my-gallery utilities-mb-15 utilities-mb-25" itemscope itemtype="http://schema.org/ImageGallery">

        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
          <a href="https://res.cloudinary.com/dlyy9lslc/image/upload/v1558983290/sporilov/slavnosti/iiiza-250657_4215525550926_1569032419_n_dqg4vk.jpg" itemprop="contentUrl" data-size="960x720">
            <img src="https://res.cloudinary.com/dlyy9lslc/image/upload/v1558983290/sporilov/slavnosti/iiiza-250657_4215525550926_1569032419_n_dqg4vk.jpg" itemprop="thumbnail"/>
          </a>
        </figure>

        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
          <a href="https://res.cloudinary.com/dlyy9lslc/image/upload/v1558983292/sporilov/slavnosti/iiiza-318132_4215513350621_949153133_n_oryxyn.jpg" itemprop="contentUrl" data-size="960x720">
            <img src="https://res.cloudinary.com/dlyy9lslc/image/upload/v1558983292/sporilov/slavnosti/iiiza-318132_4215513350621_949153133_n_oryxyn.jpg" itemprop="thumbnail"/>
          </a>
        </figure>

        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
          <a href="https://res.cloudinary.com/dlyy9lslc/image/upload/v1558983292/sporilov/slavnosti/iiiza-382430_4215523550876_182689727_n_lsvfhj.jpg" itemprop="contentUrl" data-size="960x720">
            <img src="https://res.cloudinary.com/dlyy9lslc/image/upload/v1558983292/sporilov/slavnosti/iiiza-382430_4215523550876_182689727_n_lsvfhj.jpg" itemprop="thumbnail"/>
          </a>
        </figure>

        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
          <a href="https://res.cloudinary.com/dlyy9lslc/image/upload/v1558983292/sporilov/slavnosti/iiiza-521333_4215512270594_2119140215_n_hs6pgy.jpg" itemprop="contentUrl" data-size="960x720">
            <img src="https://res.cloudinary.com/dlyy9lslc/image/upload/v1558983292/sporilov/slavnosti/iiiza-521333_4215512270594_2119140215_n_hs6pgy.jpg" itemprop="thumbnail"/>
          </a>
        </figure>

        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
          <a href="https://res.cloudinary.com/dlyy9lslc/image/upload/v1558983291/sporilov/slavnosti/iiiza-522676_4217612363095_2107723874_n_vln2hw.jpg" itemprop="contentUrl" data-size="720x960">
            <img src="https://res.cloudinary.com/dlyy9lslc/image/upload/v1558983291/sporilov/slavnosti/iiiza-522676_4217612363095_2107723874_n_vln2hw.jpg" itemprop="thumbnail"/>
          </a>
        </figure>

        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
          <a href="https://res.cloudinary.com/dlyy9lslc/image/upload/v1558983293/sporilov/slavnosti/iiiza-P6160064_volvdc.jpg" itemprop="contentUrl" data-size="408x306">
            <img src="https://res.cloudinary.com/dlyy9lslc/image/upload/v1558983293/sporilov/slavnosti/iiiza-P6160064_volvdc.jpg" itemprop="thumbnail"/>
          </a>
        </figure>

        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
          <a href="https://res.cloudinary.com/dlyy9lslc/image/upload/v1558983294/sporilov/slavnosti/iiiza-P6160093_tuary7.jpg" itemprop="contentUrl" data-size="397x298">
            <img src="https://res.cloudinary.com/dlyy9lslc/image/upload/v1558983294/sporilov/slavnosti/iiiza-P6160093_tuary7.jpg" itemprop="thumbnail"/>
          </a>
        </figure>

        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
          <a href="https://res.cloudinary.com/dlyy9lslc/image/upload/v1558983293/sporilov/slavnosti/iiiza-P6160111_rk8cbr.jpg" itemprop="contentUrl" data-size="325x434">
            <img src="https://res.cloudinary.com/dlyy9lslc/image/upload/v1558983293/sporilov/slavnosti/iiiza-P6160111_rk8cbr.jpg" itemprop="thumbnail"/>
          </a>
        </figure>

        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
          <a href="https://res.cloudinary.com/dlyy9lslc/image/upload/v1558983293/sporilov/slavnosti/iiiza-P6160095_bdmrm9.jpg" itemprop="contentUrl" data-size="437x327">
            <img src="https://res.cloudinary.com/dlyy9lslc/image/upload/v1558983293/sporilov/slavnosti/iiiza-P6160095_bdmrm9.jpg" itemprop="thumbnail"/>
          </a>
        </figure>

        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
          <a href="https://res.cloudinary.com/dlyy9lslc/image/upload/v1558983293/sporilov/slavnosti/iiiza-P6160096_t2skgh.jpg" itemprop="contentUrl" data-size="432x324">
            <img src="https://res.cloudinary.com/dlyy9lslc/image/upload/v1558983293/sporilov/slavnosti/iiiza-P6160096_t2skgh.jpg" itemprop="thumbnail"/>
          </a>
        </figure>

        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
          <a href="https://res.cloudinary.com/dlyy9lslc/image/upload/v1558983293/sporilov/slavnosti/iiiza-P6160099_suqwu1.jpg" itemprop="contentUrl" data-size="343x458">
            <img src="https://res.cloudinary.com/dlyy9lslc/image/upload/v1558983293/sporilov/slavnosti/iiiza-P6160099_suqwu1.jpg" itemprop="thumbnail"/>
          </a>
        </figure>
      </div>

      <h2 class="utilities-font-24_20 utilities-mb-15 utilities-mb-25">Rekonstrukce kněžiště a oltář</h2>
      <div class="my-gallery utilities-mb-15 utilities-mb-25" itemscope itemtype="http://schema.org/ImageGallery">

        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
          <a href="https://res.cloudinary.com/dlyy9lslc/image/upload/v1558983256/sporilov/oltar/olt-IMG_2430_uoyf0h.jpg" itemprop="contentUrl" data-size="900x600">
            <img src="https://res.cloudinary.com/dlyy9lslc/image/upload/v1558983256/sporilov/oltar/olt-IMG_2430_uoyf0h.jpg" itemprop="thumbnail"/>
          </a>
        </figure>

        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
          <a href="https://res.cloudinary.com/dlyy9lslc/image/upload/v1558983257/sporilov/oltar/olt-IMG_2433_z1ztmd.jpg" itemprop="contentUrl" data-size="900x600">
            <img src="https://res.cloudinary.com/dlyy9lslc/image/upload/v1558983257/sporilov/oltar/olt-IMG_2433_z1ztmd.jpg" itemprop="thumbnail"/>
          </a>
        </figure>

        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
          <a href="https://res.cloudinary.com/dlyy9lslc/image/upload/v1558983257/sporilov/oltar/olt-P5170024_mnvhod.jpg" itemprop="contentUrl" data-size="900x675">
            <img src="https://res.cloudinary.com/dlyy9lslc/image/upload/v1558983257/sporilov/oltar/olt-P5170024_mnvhod.jpg" itemprop="thumbnail"/>
          </a>
        </figure>

        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
          <a href="https://res.cloudinary.com/dlyy9lslc/image/upload/v1558983259/sporilov/oltar/olt-P5170025_qe9a5z.jpg" itemprop="contentUrl" data-size="900x675">
            <img src="https://res.cloudinary.com/dlyy9lslc/image/upload/v1558983259/sporilov/oltar/olt-P5170025_qe9a5z.jpg" itemprop="thumbnail"/>
          </a>
        </figure>

        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
          <a href="https://res.cloudinary.com/dlyy9lslc/image/upload/v1558983258/sporilov/oltar/olt-P5170026_i469dw.jpg" itemprop="contentUrl" data-size="900x675">
            <img src="https://res.cloudinary.com/dlyy9lslc/image/upload/v1558983258/sporilov/oltar/olt-P5170026_i469dw.jpg" itemprop="thumbnail"/>
          </a>
        </figure>

        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
          <a href="https://res.cloudinary.com/dlyy9lslc/image/upload/v1558983259/sporilov/oltar/olt-P5180027_zi5pl6.jpg" itemprop="contentUrl" data-size="900x675">
            <img src="https://res.cloudinary.com/dlyy9lslc/image/upload/v1558983259/sporilov/oltar/olt-P5180027_zi5pl6.jpg" itemprop="thumbnail"/>
          </a>
        </figure>

        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
          <a href="https://res.cloudinary.com/dlyy9lslc/image/upload/v1558983259/sporilov/oltar/olt-P5180028_uwxeev.jpg" itemprop="contentUrl" data-size="900x675">
            <img src="https://res.cloudinary.com/dlyy9lslc/image/upload/v1558983259/sporilov/oltar/olt-P5180028_uwxeev.jpg" itemprop="thumbnail"/>
          </a>
        </figure>

        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
          <a href="https://res.cloudinary.com/dlyy9lslc/image/upload/v1558983259/sporilov/oltar/olt-P5180029_a6oxna.jpg" itemprop="contentUrl" data-size="900x675">
            <img src="https://res.cloudinary.com/dlyy9lslc/image/upload/v1558983259/sporilov/oltar/olt-P5180029_a6oxna.jpg" itemprop="thumbnail"/>
          </a>
        </figure>

        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
          <a href="https://res.cloudinary.com/dlyy9lslc/image/upload/v1558983260/sporilov/oltar/olt-P5180031_is0eoc.jpg" itemprop="contentUrl" data-size="900x675">
            <img src="https://res.cloudinary.com/dlyy9lslc/image/upload/v1558983260/sporilov/oltar/olt-P5180031_is0eoc.jpg" itemprop="thumbnail"/>
          </a>
        </figure>

        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
          <a href="https://res.cloudinary.com/dlyy9lslc/image/upload/v1558983262/sporilov/oltar/olt-P5190032_gfvwyz.jpg" itemprop="contentUrl" data-size="900x675">
            <img src="https://res.cloudinary.com/dlyy9lslc/image/upload/v1558983262/sporilov/oltar/olt-P5190032_gfvwyz.jpg" itemprop="thumbnail"/>
          </a>
        </figure>

        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
          <a href="https://res.cloudinary.com/dlyy9lslc/image/upload/v1558983260/sporilov/oltar/olt-P5190036_mvjdzf.jpg" itemprop="contentUrl" data-size="900x675">
            <img src="https://res.cloudinary.com/dlyy9lslc/image/upload/v1558983260/sporilov/oltar/olt-P5190036_mvjdzf.jpg" itemprop="thumbnail"/>
          </a>
        </figure>

        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
          <a href="https://res.cloudinary.com/dlyy9lslc/image/upload/v1558983261/sporilov/oltar/olt-P5190038_ik3olj.jpg" itemprop="contentUrl" data-size="900x675">
            <img src="https://res.cloudinary.com/dlyy9lslc/image/upload/v1558983261/sporilov/oltar/olt-P5190038_ik3olj.jpg" itemprop="thumbnail"/>
          </a>
        </figure>

        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
          <a href="https://res.cloudinary.com/dlyy9lslc/image/upload/v1558983260/sporilov/oltar/olt-P5200041_kutrrf.jpg" itemprop="contentUrl" data-size="900x675">
            <img src="https://res.cloudinary.com/dlyy9lslc/image/upload/v1558983260/sporilov/oltar/olt-P5200041_kutrrf.jpg" itemprop="thumbnail"/>
          </a>
        </figure>

        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
          <a href="https://res.cloudinary.com/dlyy9lslc/image/upload/v1558983260/sporilov/oltar/olt-P5200041_kutrrf.jpg" itemprop="contentUrl" data-size="908x681">
            <img src="https://res.cloudinary.com/dlyy9lslc/image/upload/v1558983260/sporilov/oltar/olt-P5200041_kutrrf.jpg" itemprop="thumbnail"/>
          </a>
        </figure>

        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
          <a href="https://res.cloudinary.com/dlyy9lslc/image/upload/v1558983261/sporilov/oltar/olt-P5200042_bfisir.jpg" itemprop="contentUrl" data-size="950x712">
            <img src="https://res.cloudinary.com/dlyy9lslc/image/upload/v1558983261/sporilov/oltar/olt-P5200042_bfisir.jpg" itemprop="thumbnail"/>
          </a>
        </figure>

        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
          <a href="https://res.cloudinary.com/dlyy9lslc/image/upload/v1558983261/sporilov/oltar/olt-P5200046_cc6hxm.jpg" itemprop="contentUrl" data-size="799x600">
            <img src="https://res.cloudinary.com/dlyy9lslc/image/upload/v1558983261/sporilov/oltar/olt-P5200046_cc6hxm.jpg" itemprop="thumbnail"/>
          </a>
        </figure>

        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
          <a href="https://res.cloudinary.com/dlyy9lslc/image/upload/v1558983261/sporilov/oltar/olt-P5300049_c1in1m.jpg" itemprop="contentUrl" data-size="1007x756">
            <img src="https://res.cloudinary.com/dlyy9lslc/image/upload/v1558983261/sporilov/oltar/olt-P5300049_c1in1m.jpg" itemprop="thumbnail"/>
          </a>
        </figure>

        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
          <a href="https://res.cloudinary.com/dlyy9lslc/image/upload/v1558983261/sporilov/oltar/olt-P5300050_lyvzmn.jpg" itemprop="contentUrl" data-size="752x1003">
            <img src="https://res.cloudinary.com/dlyy9lslc/image/upload/v1558983261/sporilov/oltar/olt-P5300050_lyvzmn.jpg" itemprop="thumbnail"/>
          </a>
        </figure>

        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
          <a href="https://res.cloudinary.com/dlyy9lslc/image/upload/v1558983262/sporilov/oltar/olt-P6160110_cakhqa.jpg" itemprop="contentUrl" data-size="756x1008">
            <img src="https://res.cloudinary.com/dlyy9lslc/image/upload/v1558983262/sporilov/oltar/olt-P6160110_cakhqa.jpg" itemprop="thumbnail"/>
          </a>
        </figure>
      </div>

      <h2 class="utilities-font-24_20 utilities-mb-15 utilities-mb-25">70. výročí založení sboru</h2>
      <div class="my-gallery utilities-mb-15 utilities-mb-25" itemscope itemtype="http://schema.org/ImageGallery">

        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
          <a href="https://res.cloudinary.com/dlyy9lslc/image/upload/v1558983245/sporilov/vyroci/70-DSCN8145_u8iuov.jpg" itemprop="contentUrl" data-size="1280x960">
            <img src="https://res.cloudinary.com/dlyy9lslc/image/upload/v1558983245/sporilov/vyroci/70-DSCN8145_u8iuov.jpg" itemprop="thumbnail"/>
          </a>
        </figure>

        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
          <a href="https://res.cloudinary.com/dlyy9lslc/image/upload/v1558983245/sporilov/vyroci/70-DSCN8160_w7ozej.jpg" itemprop="contentUrl" data-size="960x1280">
            <img src="https://res.cloudinary.com/dlyy9lslc/image/upload/v1558983245/sporilov/vyroci/70-DSCN8160_w7ozej.jpg" itemprop="thumbnail"/>
          </a>
        </figure>

        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
          <a href="https://res.cloudinary.com/dlyy9lslc/image/upload/v1558983246/sporilov/vyroci/70-DSCN8163_i8kszb.jpg" itemprop="contentUrl" data-size="1280x960">
            <img src="https://res.cloudinary.com/dlyy9lslc/image/upload/v1558983246/sporilov/vyroci/70-DSCN8163_i8kszb.jpg" itemprop="thumbnail"/>
          </a>
        </figure>

        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
          <a href="https://res.cloudinary.com/dlyy9lslc/image/upload/v1558983248/sporilov/vyroci/70-DSCN8175_bx168u.jpg" itemprop="contentUrl" data-size="1280x960">
            <img src="https://res.cloudinary.com/dlyy9lslc/image/upload/v1558983248/sporilov/vyroci/70-DSCN8175_bx168u.jpg" itemprop="thumbnail"/>
          </a>
        </figure>
      </div>

      <h2 class="utilities-font-24_20 utilities-mb-15 utilities-mb-25">Setkání k výročí vzniku republiky</h2>
      <div class="my-gallery utilities-mb-15 utilities-mb-25" itemscope itemtype="http://schema.org/ImageGallery">

        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
          <a href="https://res.cloudinary.com/dlyy9lslc/image/upload/v1558983248/sporilov/vyroci/70-DSCN8175_bx168u.jpg" itemprop="contentUrl" data-size="900x596">
            <img src="https://res.cloudinary.com/dlyy9lslc/image/upload/v1558983248/sporilov/vyroci/70-DSCN8175_bx168u.jpg" itemprop="thumbnail"/>
          </a>
        </figure>

        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
          <a href="https://res.cloudinary.com/dlyy9lslc/image/upload/v1558983268/sporilov/republika/rep-DSC_0120finale_b56a9t.jpg" itemprop="contentUrl" data-size="900x596">
            <img src="https://res.cloudinary.com/dlyy9lslc/image/upload/v1558983268/sporilov/republika/rep-DSC_0120finale_b56a9t.jpg" itemprop="thumbnail"/>
          </a>
        </figure>

        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
          <a href="https://res.cloudinary.com/dlyy9lslc/image/upload/v1558983266/sporilov/republika/rep-DSC_0135_m5dyeg.jpg" itemprop="contentUrl" data-size="596x900">
            <img src="https://res.cloudinary.com/dlyy9lslc/image/upload/v1558983266/sporilov/republika/rep-DSC_0135_m5dyeg.jpg" itemprop="thumbnail"/>
          </a>
        </figure>

        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
          <a href="https://res.cloudinary.com/dlyy9lslc/image/upload/v1558983267/sporilov/republika/rep-DSC_0144_noide_r_db8f05.jpg" itemprop="contentUrl" data-size="900x596">
            <img src="https://res.cloudinary.com/dlyy9lslc/image/upload/v1558983267/sporilov/republika/rep-DSC_0144_noide_r_db8f05.jpg" itemprop="thumbnail"/>
          </a>
        </figure>

        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
          <a href="https://res.cloudinary.com/dlyy9lslc/image/upload/v1558983273/sporilov/republika/rep-DSC_0172_noise_r_p1okk8.jpg" itemprop="contentUrl" data-size="900x596">
            <img src="https://res.cloudinary.com/dlyy9lslc/image/upload/v1558983273/sporilov/republika/rep-DSC_0172_noise_r_p1okk8.jpg" itemprop="thumbnail"/>
          </a>
        </figure>

        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
          <a href="https://res.cloudinary.com/dlyy9lslc/image/upload/v1558983278/sporilov/republika/rep-DSC_0179noise_r_gcrfmk.jpg" itemprop="contentUrl" data-size="900x596">
            <img src="https://res.cloudinary.com/dlyy9lslc/image/upload/v1558983278/sporilov/republika/rep-DSC_0179noise_r_gcrfmk.jpg" itemprop="thumbnail"/>
          </a>
        </figure>

        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
          <a href="https://res.cloudinary.com/dlyy9lslc/image/upload/v1558983268/sporilov/republika/rep-DSC_0184noise_r_wh5sp4.jpg" itemprop="contentUrl" data-size="900x596">
            <img src="https://res.cloudinary.com/dlyy9lslc/image/upload/v1558983268/sporilov/republika/rep-DSC_0184noise_r_wh5sp4.jpg" itemprop="thumbnail"/>
          </a>
        </figure>

        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
          <a href="https://res.cloudinary.com/dlyy9lslc/image/upload/v1558983289/sporilov/republika/rep-DSC_0189hdr_bpdu5m.jpg" itemprop="contentUrl" data-size="900x1359">
            <img src="https://res.cloudinary.com/dlyy9lslc/image/upload/v1558983289/sporilov/republika/rep-DSC_0189hdr_bpdu5m.jpg" itemprop="thumbnail"/>
          </a>
        </figure>

        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
          <a href="https://res.cloudinary.com/dlyy9lslc/image/upload/v1558983248/sporilov/vyroci/70-DSCN8175_bx168u.jpg" itemprop="contentUrl" data-size="900x1359">
            <img src="https://res.cloudinary.com/dlyy9lslc/image/upload/v1558983248/sporilov/vyroci/70-DSCN8175_bx168u.jpg" itemprop="thumbnail"/>
          </a>
        </figure>

        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
          <a href="https://res.cloudinary.com/dlyy9lslc/image/upload/v1558983289/sporilov/republika/rep-DSC_0162_portreit_fjqvvy.jpg" itemprop="contentUrl" data-size="900x1359">
            <img src="https://res.cloudinary.com/dlyy9lslc/image/upload/v1558983289/sporilov/republika/rep-DSC_0162_portreit_fjqvvy.jpg" itemprop="thumbnail"/>
          </a>
        </figure>
      </div>

      <h2 class="utilities-font-24_20 utilities-mb-15 utilities-mb-25">Vánoce</h2>
      <div class="my-gallery utilities-mb-15 utilities-mb-25" itemscope itemtype="http://schema.org/ImageGallery">

        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
          <a href="https://res.cloudinary.com/dlyy9lslc/image/upload/v1558983276/sporilov/vanoce/van-2017-12-12_08_oqf3sn.jpg" itemprop="contentUrl" data-size="900x675">
            <img src="https://res.cloudinary.com/dlyy9lslc/image/upload/v1558983276/sporilov/vanoce/van-2017-12-12_08_oqf3sn.jpg" itemprop="thumbnail"/>
          </a>
        </figure>

        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
          <a href="https://res.cloudinary.com/dlyy9lslc/image/upload/v1558983278/sporilov/vanoce/van-2017-12-12_18_gn7la1.jpg" itemprop="contentUrl" data-size="900x675">
            <img src="https://res.cloudinary.com/dlyy9lslc/image/upload/v1558983278/sporilov/vanoce/van-2017-12-12_18_gn7la1.jpg" itemprop="thumbnail"/>
          </a>
        </figure>

        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
          <a href="https://res.cloudinary.com/dlyy9lslc/image/upload/v1558983284/sporilov/vanoce/van-2017-12-12_44_tdbv50.jpg" itemprop="contentUrl" data-size="675x900">
            <img src="https://res.cloudinary.com/dlyy9lslc/image/upload/v1558983284/sporilov/vanoce/van-2017-12-12_44_tdbv50.jpg" itemprop="thumbnail"/>
          </a>
        </figure>

        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
          <a href="https://res.cloudinary.com/dlyy9lslc/image/upload/v1559035356/sporilov/advent/ad-galerie-8_snd3mh.jpg" itemprop="contentUrl" data-size="900x675">
            <img src="https://res.cloudinary.com/dlyy9lslc/image/upload/v1559035356/sporilov/advent/ad-galerie-8_snd3mh.jpg" itemprop="thumbnail"/>
          </a>
        </figure>

        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
          <a href="https://res.cloudinary.com/dlyy9lslc/image/upload/v1558983285/sporilov/vanoce/van-2017-12-12_50_q4dag1.jpg" itemprop="contentUrl" data-size="900x675">
            <img src="https://res.cloudinary.com/dlyy9lslc/image/upload/v1558983285/sporilov/vanoce/van-2017-12-12_50_q4dag1.jpg" itemprop="thumbnail"/>
          </a>
        </figure>

        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
          <a href="https://res.cloudinary.com/dlyy9lslc/image/upload/v1558983286/sporilov/vanoce/van-2018-12-01_45_ouvwaf.jpg" itemprop="contentUrl" data-size="675x900">
            <img src="https://res.cloudinary.com/dlyy9lslc/image/upload/v1558983286/sporilov/vanoce/van-2018-12-01_45_ouvwaf.jpg" itemprop="thumbnail"/>
          </a>
        </figure>

        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
          <a href="https://res.cloudinary.com/dlyy9lslc/image/upload/v1558983283/sporilov/vanoce/van-2018-12-01_12_bcnmrg.jpg" itemprop="contentUrl" data-size="900x675">
            <img src="https://res.cloudinary.com/dlyy9lslc/image/upload/v1558983283/sporilov/vanoce/van-2018-12-01_12_bcnmrg.jpg" itemprop="thumbnail"/>
          </a>
        </figure>
      </div>

      <h2 class="utilities-font-24_20 utilities-mb-15 utilities-mb-25">Advent</h2>
      <div class="my-gallery utilities-mb-15 utilities-mb-25" itemscope itemtype="http://schema.org/ImageGallery">
        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
          <a href="https://res.cloudinary.com/dlyy9lslc/image/upload/v1559035356/sporilov/advent/ad-galerie-13_dvyrjz.jpg" itemprop="contentUrl" data-size="500x331">
            <img src="https://res.cloudinary.com/dlyy9lslc/image/upload/v1559035356/sporilov/advent/ad-galerie-13_dvyrjz.jpg" itemprop="thumbnail"/>
          </a>
        </figure>

        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
          <a href="https://res.cloudinary.com/dlyy9lslc/image/upload/v1559035356/sporilov/advent/ad-galerie-15_louhc5.jpg" itemprop="contentUrl" data-size="500x331">
            <img src="https://res.cloudinary.com/dlyy9lslc/image/upload/v1559035356/sporilov/advent/ad-galerie-15_louhc5.jpg" itemprop="thumbnail"/>
          </a>
        </figure>

        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
          <a href="https://res.cloudinary.com/dlyy9lslc/image/upload/v1559035356/sporilov/advent/ad-galerie-16_fyilhe.jpg" itemprop="contentUrl" data-size="500x331">
            <img src="https://res.cloudinary.com/dlyy9lslc/image/upload/v1559035356/sporilov/advent/ad-galerie-16_fyilhe.jpg" itemprop="thumbnail"/>
          </a>
        </figure>

        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
          <a href="https://res.cloudinary.com/dlyy9lslc/image/upload/v1559035356/sporilov/advent/ad-galerie-20_eaqpbu.jpg" itemprop="contentUrl" data-size="500x331">
            <img src="https://res.cloudinary.com/dlyy9lslc/image/upload/v1559035356/sporilov/advent/ad-galerie-20_eaqpbu.jpg" itemprop="thumbnail"/>
          </a>
        </figure>

        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
          <a href="https://res.cloudinary.com/dlyy9lslc/image/upload/v1559035354/sporilov/advent/ad-galerie-2_mz88us.jpg" itemprop="contentUrl" data-size="500x331">
            <img src="https://res.cloudinary.com/dlyy9lslc/image/upload/v1559035354/sporilov/advent/ad-galerie-2_mz88us.jpg" itemprop="thumbnail"/>
          </a>
        </figure>

        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
          <a href="https://res.cloudinary.com/dlyy9lslc/image/upload/v1559035355/sporilov/advent/ad-galerie-3_yq4eji.jpg" itemprop="contentUrl" data-size="500x331">
            <img src="https://res.cloudinary.com/dlyy9lslc/image/upload/v1559035355/sporilov/advent/ad-galerie-3_yq4eji.jpg" itemprop="thumbnail"/>
          </a>
        </figure>

        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
          <a href="https://res.cloudinary.com/dlyy9lslc/image/upload/v1559035355/sporilov/advent/ad-galerie-4_vl8rcw.jpg" itemprop="contentUrl" data-size="500x331">
            <img src="https://res.cloudinary.com/dlyy9lslc/image/upload/v1559035355/sporilov/advent/ad-galerie-4_vl8rcw.jpg" itemprop="thumbnail"/>
          </a>
        </figure>

        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
          <a href="https://res.cloudinary.com/dlyy9lslc/image/upload/v1559035355/sporilov/advent/ad-galerie-5_mzzmrz.jpg" itemprop="contentUrl" data-size="500x331">
            <img src="https://res.cloudinary.com/dlyy9lslc/image/upload/v1559035355/sporilov/advent/ad-galerie-5_mzzmrz.jpg" itemprop="thumbnail"/>
          </a>
        </figure>

        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
          <a href="https://res.cloudinary.com/dlyy9lslc/image/upload/v1559035355/sporilov/advent/ad-galerie-6_duhkuy.jpg" itemprop="contentUrl" data-size="500x331">
            <img src="https://res.cloudinary.com/dlyy9lslc/image/upload/v1559035355/sporilov/advent/ad-galerie-6_duhkuy.jpg" itemprop="thumbnail"/>
          </a>
        </figure>


        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
          <a href="https://res.cloudinary.com/dlyy9lslc/image/upload/v1559035355/sporilov/advent/ad-galerie-1_ofvr4z.jpg" itemprop="contentUrl" data-size="500x755">
            <img src="https://res.cloudinary.com/dlyy9lslc/image/upload/v1559035355/sporilov/advent/ad-galerie-1_ofvr4z.jpg" itemprop="thumbnail"/>
          </a>
        </figure>

        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
          <a href="https://res.cloudinary.com/dlyy9lslc/image/upload/v1559035355/sporilov/advent/ad-galerie-7_rad27i.jpg" itemprop="contentUrl" data-size="500x331">
            <img src="https://res.cloudinary.com/dlyy9lslc/image/upload/v1559035355/sporilov/advent/ad-galerie-7_rad27i.jpg" itemprop="thumbnail"/>
          </a>
        </figure>

        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
          <a href="https://res.cloudinary.com/dlyy9lslc/image/upload/v1559035356/sporilov/advent/ad-galerie-8_snd3mh.jpg" itemprop="contentUrl" data-size="500x331">
            <img src="https://res.cloudinary.com/dlyy9lslc/image/upload/v1559035356/sporilov/advent/ad-galerie-8_snd3mh.jpg" itemprop="thumbnail"/>
          </a>
        </figure>
      </div>

      <h2 class="utilities-font-24_20 utilities-mb-15 utilities-mb-25">Dušičky</h2>
      <div class="my-gallery utilities-mb-15 utilities-mb-25" itemscope itemtype="http://schema.org/ImageGallery">
        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
          <a href="https://res.cloudinary.com/dlyy9lslc/image/upload/v1558983248/sporilov/dusicky/dus-DSC_0358_1_jwuyws.jpg" itemprop="contentUrl" data-size="554x367">
            <img src="https://res.cloudinary.com/dlyy9lslc/image/upload/v1558983248/sporilov/dusicky/dus-DSC_0358_1_jwuyws.jpg" itemprop="thumbnail"/>
          </a>
        </figure>

        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
          <a href="https://res.cloudinary.com/dlyy9lslc/image/upload/v1558983287/sporilov/dusicky/dus-DSC_0380hdr_1_qr4kpa.jpg" itemprop="contentUrl" data-size="348x526">
            <img src="https://res.cloudinary.com/dlyy9lslc/image/upload/v1558983287/sporilov/dusicky/dus-DSC_0380hdr_1_qr4kpa.jpg" itemprop="thumbnail"/>
          </a>
        </figure>

        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
          <a href="https://res.cloudinary.com/dlyy9lslc/image/upload/v1558983287/sporilov/dusicky/dus-DSC_0385b_hzvxbp.jpg" itemprop="contentUrl" data-size="813x539">
            <img src="https://res.cloudinary.com/dlyy9lslc/image/upload/v1558983287/sporilov/dusicky/dus-DSC_0385b_hzvxbp.jpg" itemprop="thumbnail"/>
          </a>
        </figure>
      </div>

      <h2 class="utilities-font-24_20 utilities-mb-15 utilities-mb-25">Narozeniny dr. Kubátové</h2>
      <div class="my-gallery utilities-mb-15 utilities-mb-25" itemscope itemtype="http://schema.org/ImageGallery">

        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
          <a href="https://res.cloudinary.com/dlyy9lslc/image/upload/v1558983254/sporilov/kubatova/kub-P6030051_uohst4.jpg" itemprop="contentUrl" data-size="866x649">
            <img src="https://res.cloudinary.com/dlyy9lslc/image/upload/v1558983254/sporilov/kubatova/kub-P6030051_uohst4.jpg" itemprop="thumbnail"/>
          </a>
        </figure>

        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
          <a href="https://res.cloudinary.com/dlyy9lslc/image/upload/v1558983256/sporilov/kubatova/kub-P6030052_kv2tvo.jpg" itemprop="contentUrl" data-size="907x680">
            <img src="https://res.cloudinary.com/dlyy9lslc/image/upload/v1558983256/sporilov/kubatova/kub-P6030052_kv2tvo.jpg" itemprop="thumbnail"/>
          </a>
        </figure>

        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
          <a href="https://res.cloudinary.com/dlyy9lslc/image/upload/v1558983254/sporilov/kubatova/kub-P6030053_nvrtn0.jpg" itemprop="contentUrl" data-size="860x645">
            <img src="https://res.cloudinary.com/dlyy9lslc/image/upload/v1558983254/sporilov/kubatova/kub-P6030053_nvrtn0.jpg" itemprop="thumbnail"/>
          </a>
        </figure>

        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
          <a href="https://res.cloudinary.com/dlyy9lslc/image/upload/v1558983254/sporilov/kubatova/kub-P6030054_nfjhbj.jpg" itemprop="contentUrl" data-size="859x644">
            <img src="https://res.cloudinary.com/dlyy9lslc/image/upload/v1558983254/sporilov/kubatova/kub-P6030054_nfjhbj.jpg" itemprop="thumbnail"/>
          </a>
        </figure>

        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
          <a href="https://res.cloudinary.com/dlyy9lslc/image/upload/v1558983254/sporilov/kubatova/kub-P6030055_tyk3d5.jpg" itemprop="contentUrl" data-size="997x748">
            <img src="https://res.cloudinary.com/dlyy9lslc/image/upload/v1558983254/sporilov/kubatova/kub-P6030055_tyk3d5.jpg" itemprop="thumbnail"/>
          </a>
        </figure>

        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
          <a href="https://res.cloudinary.com/dlyy9lslc/image/upload/v1558983255/sporilov/kubatova/kub-P6030056_j0n7uh.jpg" itemprop="contentUrl" data-size="760x570">
            <img src="https://res.cloudinary.com/dlyy9lslc/image/upload/v1558983255/sporilov/kubatova/kub-P6030056_j0n7uh.jpg" itemprop="thumbnail"/>
          </a>
        </figure>

        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
          <a href="https://res.cloudinary.com/dlyy9lslc/image/upload/v1558983255/sporilov/kubatova/kub-P6030057_wtycgx.jpg" itemprop="contentUrl" data-size="711x533">
            <img src="https://res.cloudinary.com/dlyy9lslc/image/upload/v1558983255/sporilov/kubatova/kub-P6030057_wtycgx.jpg" itemprop="thumbnail"/>
          </a>
        </figure>
      </div>

      <h2 class="utilities-font-24_20 utilities-mb-15 utilities-mb-25">Novoroční koncert tříkrálový</h2>
      <div class="my-gallery utilities-mb-15 utilities-mb-25" itemscope itemtype="http://schema.org/ImageGallery">
        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
          <a href="https://res.cloudinary.com/dlyy9lslc/image/upload/v1559044820/sporilov/koncert/kral-dsc06884_gepzat.jpg" itemprop="contentUrl" data-size="720x540">
            <img src="https://res.cloudinary.com/dlyy9lslc/image/upload/v1559044820/sporilov/koncert/kral-dsc06884_gepzat.jpg" itemprop="thumbnail"/>
          </a>
        </figure>

        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
          <a href="https://res.cloudinary.com/dlyy9lslc/image/upload/v1559044819/sporilov/koncert/kral-dsc06876_efl7cr.jpg" itemprop="contentUrl" data-size="720x540">
            <img src="https://res.cloudinary.com/dlyy9lslc/image/upload/v1559044819/sporilov/koncert/kral-dsc06876_efl7cr.jpg" itemprop="thumbnail"/>
          </a>
        </figure>

        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
          <a href="https://res.cloudinary.com/dlyy9lslc/image/upload/v1559044819/sporilov/koncert/kral-dsc06880_slrpic.jpg" itemprop="contentUrl" data-size="720x540">
            <img src="https://res.cloudinary.com/dlyy9lslc/image/upload/v1559044819/sporilov/koncert/kral-dsc06880_slrpic.jpg" itemprop="thumbnail"/>
          </a>
        </figure>

        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
          <a href="https://res.cloudinary.com/dlyy9lslc/image/upload/v1559044818/sporilov/koncert/kral-dsc06877_sqikil.jpg" itemprop="contentUrl" data-size="720x540">
            <img src="https://res.cloudinary.com/dlyy9lslc/image/upload/v1559044818/sporilov/koncert/kral-dsc06877_sqikil.jpg" itemprop="thumbnail"/>
          </a>
        </figure>

        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
          <a href="https://res.cloudinary.com/dlyy9lslc/image/upload/v1559044818/sporilov/koncert/kral-dsc06881_u2mtwj.jpg" itemprop="contentUrl" data-size="720x540">
            <img src="https://res.cloudinary.com/dlyy9lslc/image/upload/v1559044818/sporilov/koncert/kral-dsc06881_u2mtwj.jpg" itemprop="thumbnail"/>
          </a>
        </figure>
      </div>

      <h2 class="utilities-font-24_20 utilities-mb-15 utilities-mb-25">Představení knihy „Po stopách spořilovských legionářů“</h2>
      <div class="my-gallery utilities-mb-15 utilities-mb-25" itemscope itemtype="http://schema.org/ImageGallery">
        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
          <a href="https://res.cloudinary.com/dlyy9lslc/image/upload/v1559045173/sporilov/kniha_legionari/leg-galerie-2_optgbj.jpg" itemprop="contentUrl" data-size="800x532">
            <img src="https://res.cloudinary.com/dlyy9lslc/image/upload/v1559045173/sporilov/kniha_legionari/leg-galerie-2_optgbj.jpg" itemprop="thumbnail"/>
          </a>
        </figure>

        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
          <a href="https://res.cloudinary.com/dlyy9lslc/image/upload/v1559045180/sporilov/kniha_legionari/leg-galerie-3_nc5myq.jpg" itemprop="contentUrl" data-size="800x1203">
            <img src="https://res.cloudinary.com/dlyy9lslc/image/upload/v1559045180/sporilov/kniha_legionari/leg-galerie-3_nc5myq.jpg" itemprop="thumbnail"/>
          </a>
        </figure>

        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
          <a href="https://res.cloudinary.com/dlyy9lslc/image/upload/v1559045178/sporilov/kniha_legionari/leg-galerie-4_kc0daa.jpg" itemprop="contentUrl" data-size="800x1203">
            <img src="https://res.cloudinary.com/dlyy9lslc/image/upload/v1559045178/sporilov/kniha_legionari/leg-galerie-4_kc0daa.jpg" itemprop="thumbnail"/>
          </a>
        </figure>

        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
          <a href="https://res.cloudinary.com/dlyy9lslc/image/upload/v1559045175/sporilov/kniha_legionari/leg-galerie-5_o1jnnq.jpg" itemprop="contentUrl" data-size="800x1203">
            <img src="https://res.cloudinary.com/dlyy9lslc/image/upload/v1559045175/sporilov/kniha_legionari/leg-galerie-5_o1jnnq.jpg" itemprop="thumbnail"/>
          </a>
        </figure>

        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
          <a href="https://res.cloudinary.com/dlyy9lslc/image/upload/v1559045178/sporilov/kniha_legionari/leg-galerie-6_ckloyh.jpg" itemprop="contentUrl" data-size="800x532">
            <img src="https://res.cloudinary.com/dlyy9lslc/image/upload/v1559045178/sporilov/kniha_legionari/leg-galerie-6_ckloyh.jpg" itemprop="thumbnail"/>
          </a>
        </figure>

        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
          <a href="https://res.cloudinary.com/dlyy9lslc/image/upload/v1559045176/sporilov/kniha_legionari/leg-galerie-7_qn9vob.jpg" itemprop="contentUrl" data-size="800x532">
            <img src="https://res.cloudinary.com/dlyy9lslc/image/upload/v1559045176/sporilov/kniha_legionari/leg-galerie-7_qn9vob.jpg" itemprop="thumbnail"/>
          </a>
        </figure>

        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
          <a href="https://res.cloudinary.com/dlyy9lslc/image/upload/v1559045183/sporilov/kniha_legionari/leg-galerie-8_bbmy1y.jpg" itemprop="contentUrl" data-size="800x532">
            <img src="https://res.cloudinary.com/dlyy9lslc/image/upload/v1559045183/sporilov/kniha_legionari/leg-galerie-8_bbmy1y.jpg" itemprop="thumbnail"/>
          </a>
        </figure>

        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
          <a href="https://res.cloudinary.com/dlyy9lslc/image/upload/v1559045181/sporilov/kniha_legionari/leg-galerie-9_g4opwm.jpg" itemprop="contentUrl" data-size="800x1203">
            <img src="https://res.cloudinary.com/dlyy9lslc/image/upload/v1559045181/sporilov/kniha_legionari/leg-galerie-9_g4opwm.jpg" itemprop="thumbnail"/>
          </a>
        </figure>

        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
          <a href="https://res.cloudinary.com/dlyy9lslc/image/upload/v1559045178/sporilov/kniha_legionari/leg-galerie-10_ts7ijt.jpg" itemprop="contentUrl" data-size="800x532">
            <img src="https://res.cloudinary.com/dlyy9lslc/image/upload/v1559045178/sporilov/kniha_legionari/leg-galerie-10_ts7ijt.jpg" itemprop="thumbnail"/>
          </a>
        </figure>

        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
          <a href="https://res.cloudinary.com/dlyy9lslc/image/upload/v1559045181/sporilov/kniha_legionari/leg-galerie-11_rkjvyp.jpg" itemprop="contentUrl" data-size="800x532">
            <img src="https://res.cloudinary.com/dlyy9lslc/image/upload/v1559045181/sporilov/kniha_legionari/leg-galerie-11_rkjvyp.jpg" itemprop="thumbnail"/>
          </a>
        </figure>

        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
          <a href="https://res.cloudinary.com/dlyy9lslc/image/upload/v1559045182/sporilov/kniha_legionari/leg-galerie-12_fmjyax.jpg" itemprop="contentUrl" data-size="800x532">
            <img src="https://res.cloudinary.com/dlyy9lslc/image/upload/v1559045182/sporilov/kniha_legionari/leg-galerie-12_fmjyax.jpg" itemprop="thumbnail"/>
          </a>
        </figure>

        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
          <a href="https://res.cloudinary.com/dlyy9lslc/image/upload/v1559045187/sporilov/kniha_legionari/leg-galerie-13_qp68ln.jpg" itemprop="contentUrl" data-size="800x532">
            <img src="https://res.cloudinary.com/dlyy9lslc/image/upload/v1559045187/sporilov/kniha_legionari/leg-galerie-13_qp68ln.jpg" itemprop="thumbnail"/>
          </a>
        </figure>

        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
          <a href="https://res.cloudinary.com/dlyy9lslc/image/upload/v1559045183/sporilov/kniha_legionari/leg-galerie-14_bmimi2.jpg" itemprop="contentUrl" data-size="800x532">
            <img src="https://res.cloudinary.com/dlyy9lslc/image/upload/v1559045183/sporilov/kniha_legionari/leg-galerie-14_bmimi2.jpg" itemprop="thumbnail"/>
          </a>
        </figure>

        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
          <a href="https://res.cloudinary.com/dlyy9lslc/image/upload/v1559045184/sporilov/kniha_legionari/leg-galerie-15_btaoom.jpg" itemprop="contentUrl" data-size="800x1203">
            <img src="https://res.cloudinary.com/dlyy9lslc/image/upload/v1559045184/sporilov/kniha_legionari/leg-galerie-15_btaoom.jpg" itemprop="thumbnail"/>
          </a>
        </figure>

        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
          <a href="https://res.cloudinary.com/dlyy9lslc/image/upload/v1559045184/sporilov/kniha_legionari/leg-galerie-16_blav7z.jpg" itemprop="contentUrl" data-size="800x532">
            <img src="https://res.cloudinary.com/dlyy9lslc/image/upload/v1559045184/sporilov/kniha_legionari/leg-galerie-16_blav7z.jpg" itemprop="thumbnail"/>
          </a>
        </figure>

        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
          <a href="https://res.cloudinary.com/dlyy9lslc/image/upload/v1559045183/sporilov/kniha_legionari/leg-galerie-17_dsyj1h.jpg" itemprop="contentUrl" data-size="800x532">
            <img src="https://res.cloudinary.com/dlyy9lslc/image/upload/v1559045183/sporilov/kniha_legionari/leg-galerie-17_dsyj1h.jpg" itemprop="thumbnail"/>
          </a>
        </figure>

        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
          <a href="https://res.cloudinary.com/dlyy9lslc/image/upload/v1559045184/sporilov/kniha_legionari/leg-galerie-19_sspmpz.jpg" itemprop="contentUrl" data-size="800x532">
            <img src="https://res.cloudinary.com/dlyy9lslc/image/upload/v1559045184/sporilov/kniha_legionari/leg-galerie-19_sspmpz.jpg" itemprop="thumbnail"/>
          </a>
        </figure>

        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
          <a href="https://res.cloudinary.com/dlyy9lslc/image/upload/v1559045186/sporilov/kniha_legionari/leg-galerie-20_uuatke.jpg" itemprop="contentUrl" data-size="800x532">
            <img src="https://res.cloudinary.com/dlyy9lslc/image/upload/v1559045186/sporilov/kniha_legionari/leg-galerie-20_uuatke.jpg" itemprop="thumbnail"/>
          </a>
        </figure>

        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
          <a href="https://res.cloudinary.com/dlyy9lslc/image/upload/v1559045188/sporilov/kniha_legionari/leg-galerie-21_qkj2em.jpg" itemprop="contentUrl" data-size="800x532">
            <img src="https://res.cloudinary.com/dlyy9lslc/image/upload/v1559045188/sporilov/kniha_legionari/leg-galerie-21_qkj2em.jpg" itemprop="thumbnail"/>
          </a>
        </figure>

        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
          <a href="https://res.cloudinary.com/dlyy9lslc/image/upload/v1559045187/sporilov/kniha_legionari/leg-galerie-23_xmaxvk.jpg" itemprop="contentUrl" data-size="800x532">
            <img src="https://res.cloudinary.com/dlyy9lslc/image/upload/v1559045187/sporilov/kniha_legionari/leg-galerie-23_xmaxvk.jpg" itemprop="thumbnail"/>
          </a>
        </figure>

        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
          <a href="https://res.cloudinary.com/dlyy9lslc/image/upload/v1559045191/sporilov/kniha_legionari/leg-galerie-24_fou1er.jpg" itemprop="contentUrl" data-size="800x532">
            <img src="https://res.cloudinary.com/dlyy9lslc/image/upload/v1559045191/sporilov/kniha_legionari/leg-galerie-24_fou1er.jpg" itemprop="thumbnail"/>
          </a>
        </figure>

        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
          <a href="https://res.cloudinary.com/dlyy9lslc/image/upload/v1559045186/sporilov/kniha_legionari/leg-galerie-25_nv6ima.jpg" itemprop="contentUrl" data-size="800x532">
            <img src="https://res.cloudinary.com/dlyy9lslc/image/upload/v1559045186/sporilov/kniha_legionari/leg-galerie-25_nv6ima.jpg" itemprop="thumbnail"/>
          </a>
        </figure>

        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
          <a href="https://res.cloudinary.com/dlyy9lslc/image/upload/v1559045188/sporilov/kniha_legionari/leg-galerie-26_nchnyi.jpg" itemprop="contentUrl" data-size="800x532">
            <img src="https://res.cloudinary.com/dlyy9lslc/image/upload/v1559045188/sporilov/kniha_legionari/leg-galerie-26_nchnyi.jpg" itemprop="thumbnail"/>
          </a>
        </figure>

        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
          <a href="https://res.cloudinary.com/dlyy9lslc/image/upload/v1559045188/sporilov/kniha_legionari/leg-galerie-27_eg3xk0.jpg" itemprop="contentUrl" data-size="800x532">
            <img src="https://res.cloudinary.com/dlyy9lslc/image/upload/v1559045188/sporilov/kniha_legionari/leg-galerie-27_eg3xk0.jpg" itemprop="thumbnail"/>
          </a>
        </figure>
      </div>

      <h2 class="utilities-font-24_20 utilities-mb-15 utilities-mb-25">Požehnání knize „Vzpomínky na spořilovské sokolské divadlo“</h2>
      <div class="my-gallery utilities-mb-15 utilities-mb-25" itemscope itemtype="http://schema.org/ImageGallery">
        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
          <a href="https://res.cloudinary.com/dlyy9lslc/image/upload/v1559044667/sporilov/kniha_divadlo/div-201705272345_pozehnani_sokol_14_5_2017-005_ntr8u4.jpg" itemprop="contentUrl" data-size="800x533">
            <img src="https://res.cloudinary.com/dlyy9lslc/image/upload/v1559044667/sporilov/kniha_divadlo/div-201705272345_pozehnani_sokol_14_5_2017-005_ntr8u4.jpg" itemprop="thumbnail"/>
          </a>
        </figure>

        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
          <a href="https://res.cloudinary.com/dlyy9lslc/image/upload/v1559044667/sporilov/kniha_divadlo/div-201705272346_pozehnani_sokol_14_5_2017-019_akeg7c.jpg" itemprop="contentUrl" data-size="800x533">
            <img src="https://res.cloudinary.com/dlyy9lslc/image/upload/v1559044667/sporilov/kniha_divadlo/div-201705272346_pozehnani_sokol_14_5_2017-019_akeg7c.jpg" itemprop="thumbnail"/>
          </a>
        </figure>

        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
          <a href="https://res.cloudinary.com/dlyy9lslc/image/upload/v1559044667/sporilov/kniha_divadlo/div-201705272346_pozehnani_sokol_14_5_2017-033_yfgq5r.jpg" itemprop="contentUrl" data-size="800x533">
            <img src="https://res.cloudinary.com/dlyy9lslc/image/upload/v1559044667/sporilov/kniha_divadlo/div-201705272346_pozehnani_sokol_14_5_2017-033_yfgq5r.jpg" itemprop="thumbnail"/>
          </a>
        </figure>

        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
          <a href="https://res.cloudinary.com/dlyy9lslc/image/upload/v1559044667/sporilov/kniha_divadlo/div-201705272346_pozehnani_sokol_14_5_2017-024_f30lqd.jpg" itemprop="contentUrl" data-size="400x600">
            <img src="https://res.cloudinary.com/dlyy9lslc/image/upload/v1559044667/sporilov/kniha_divadlo/div-201705272346_pozehnani_sokol_14_5_2017-024_f30lqd.jpg" itemprop="thumbnail"/>
          </a>
        </figure>

        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
          <a href="https://res.cloudinary.com/dlyy9lslc/image/upload/v1559044666/sporilov/kniha_divadlo/div-201705272346_pozehnani_sokol_14_5_2017-021_kwxyot.jpg" itemprop="contentUrl" data-size="800x533">
            <img src="https://res.cloudinary.com/dlyy9lslc/image/upload/v1559044666/sporilov/kniha_divadlo/div-201705272346_pozehnani_sokol_14_5_2017-021_kwxyot.jpg" itemprop="thumbnail"/>
          </a>
        </figure>

        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
          <a href="https://res.cloudinary.com/dlyy9lslc/image/upload/v1559044665/sporilov/kniha_divadlo/div-201705272346_pozehnani_sokol_14_5_2017-014_ha1oz4.jpg" itemprop="contentUrl" data-size="800x533">
            <img src="https://res.cloudinary.com/dlyy9lslc/image/upload/v1559044665/sporilov/kniha_divadlo/div-201705272346_pozehnani_sokol_14_5_2017-014_ha1oz4.jpg" itemprop="thumbnail"/>
          </a>
        </figure>

        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
          <a href="https://res.cloudinary.com/dlyy9lslc/image/upload/v1559044665/sporilov/kniha_divadlo/div-201705272345_pozehnani_sokol_14_5_2017-013_ooxlgy.jpg" itemprop="contentUrl" data-size="800x533">
            <img src="https://res.cloudinary.com/dlyy9lslc/image/upload/v1559044665/sporilov/kniha_divadlo/div-201705272345_pozehnani_sokol_14_5_2017-013_ooxlgy.jpg" itemprop="thumbnail"/>
          </a>
        </figure>
      </div>
    </div>

    <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">

        <!-- Background of PhotoSwipe. 
             It's a separate element, as animating opacity is faster than rgba(). -->
        <div class="pswp__bg"></div>

        <!-- Slides wrapper with overflow:hidden. -->
        <div class="pswp__scroll-wrap">

            <!-- Container that holds slides. PhotoSwipe keeps only 3 slides in DOM to save memory. -->
            <!-- don't modify these 3 pswp__item elements, data is added later on. -->
            <div class="pswp__container">
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
            </div>

            <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
            <div class="pswp__ui pswp__ui--hidden">

                <div class="pswp__top-bar">

                    <!--  Controls are self-explanatory. Order can be changed. -->

                    <div class="pswp__counter"></div>

                    <button class="pswp__button pswp__button--close" title="Zavřít (Esc)"></button>

                    <button class="pswp__button pswp__button--share" title="Sdílet"></button>

                    <button class="pswp__button pswp__button--fs" title="Na celou obrazovku"></button>

                    <button class="pswp__button pswp__button--zoom" title="Přiblížit/oddálit"></button>

                    <!-- Preloader demo https://codepen.io/dimsemenov/pen/yyBWoR -->
                    <!-- element will get class pswp__preloader--active when preloader is running -->
                    <div class="pswp__preloader">
                        <div class="pswp__preloader__icn">
                            <div class="pswp__preloader__cut">
                                <div class="pswp__preloader__donut"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                    <div class="pswp__share-tooltip"></div>
                </div>

                <button class="pswp__button pswp__button--arrow--left" title="Předchozí (levá šipka)">
                </button>

                <button class="pswp__button pswp__button--arrow--right" title="Další (pravá šipka)">
                </button>

                <div class="pswp__caption">
                    <div class="pswp__caption__center"></div>
                </div>

            </div>

        </div>
    </div>
  </main>
</div>

<script>
(function()
{
  if( window.localStorage )
  {
    if( !localStorage.getItem('firstLoad') )
    {
      localStorage['firstLoad'] = true;
      window.location.reload();
    }  
    else
      localStorage.removeItem('firstLoad');
  }
})();
</script>

<script src='https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.1/photoswipe.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.1/photoswipe-ui-default.min.js'></script>