<div class="body-wrapper">
  <main role="main" id="content">
    <section class="section--colored section-pt-150_30 section-pb-90_30">
      <div class="container-px-25 container">
        <h2 class="utilities-color-grey utilites-mb-5 utilities-mb-10">Náboženská obec Praha-Spořilov</h2>
        <h1 class="utilities-font-60_32 utilities-mb-20 utilities-mb-30" style="max-width: 830px;">Historie Spořilova</h1>
          <div class="stack stack--align_top stack--spacing">
            <div class="stack__item stack__fluid">
                <p class="utilities-color-grey author-date">vytvořeno 14. března 2019</p>
            </div>
          </div>
      </div>
    </section>
    <div class="article-header">
      <div class="container-px-25 container--large container--no-padding">
        <div class="stack">
          <div class="stack__item article-header-leftcolumn">
            <div class="image--overflow_hidden image__cropped image-color-darkpink utilities-mb-20 article-header__image">
              <div class="image__container image__opacity image__loaded"><%= image_tag 'historie-sporilova.jpg', class: 'image__img image__loaded', alt: 'Vyčpělá fotografie Spořilova' %>
                
              </div>
            </div>
            <p class="utilities-font-12 utilities-fweight-300  utilities-mb-0_30" style="margin-left: 25px;">Zdroj fotografie: <a class="link" rel="noopener" target="_blank" href="http://www.sporilov.info/">Spořilov.info / sb_pohlednice</a>
            </p>
          </div>
        </div>
      </div>
    </div>
    <section class="section-pt-150_30 section-pb-90_30">
      <div>
        <p class="paragraph set-width initial">Historie pražského Spořilova sahá do dvacátých let minulého století, kdy se Městská spořitelna rozhodla postavit moderní město anglického zahradního typu, které mělo vyrůst na jihovýchodním okraji Prahy. Základní ideou bylo, aby měl každý střadatel (spořitel) možnost pořídit si v krátké době vlastní rodinný domek se zahrádkou. Cílem bylo opatřit méně výdělečným vrstvám pražského obyvatelstva zdravé a levné bydlení. S tímto úmyslem bylo dne 18. června 1925 založeno Stavební družstvo „Spořilov“. Lákavou nabídkou pro zájemce byla možnost spolufinancování formou půjčky od spořitelny. Nově vybudované zahradní město pak proto dostalo jméno Spořilov.</p>
        <p class="paragraph set-width">Přes nejrůznější obtíže, které tak rozsáhlou výstavbu také provázely, rostl nový Spořilov rychle. U většiny domků od prvního výkopu až do zabydlení nového osadníka trvala stavba kolem jednoho roku. Celá výstavba Spořilova podle původního plánu skončila kolem roku 1929. V té době se do nového, a na tehdejší dobu moderního, zahradního města nastěhovala většina střadatelů, zejména mladých rodin s dětmi. Vzniklo nové menší město v rámci města velkého, tedy celé Prahy.</p>
        <p class="paragraph set-width">Spořilov začal žít svým specifickým životem, což je viditelné dodnes. Vznikaly různé vlastenecké a občanské organizace a spolky, které vyvíjely bohatou kulturní, osvětovou, tělovýchovnou a sportovní činnost. Zakladateli Spořilova byli totiž českoslovenští vlastenci a bývalí legionáři z prvé světové války. Na Spořilově se rozvinula též činnost křesťanských církví a společností. Výborné podmínky pro rozvoj duchovního a náboženského života vytvořila moderní národní církev, Církev československá, která vznikla v lednu 1920.</p>
        <p class="paragraph set-width">Původní zahradní město, o němž jsme právě hovořili, se nazývá též „Starý Spořilov“. Současný Spořilov je tvořen původní zástavbou spolu s novými sídlišti Spořilov I. a Spořilov II., která vyrostla až v období po 2. světové válce.</p>
      </div>
    </section>

    <section class="section-pb-90_30">
      <div>
        <p class="paragraph set-width initial">Celé rodiny proto po skončení první světové války a po založení Církve československé vstupovaly do řad této národní církve, neboť právě ona dokázala nabídnout nové pojetí křesťanské víry a zvěstování slova Božího v národním jazyce. Tato spojitost se prokázala také na Spořilově a v Záběhlicích u těch, kdo vstoupili do nové církve. Velmi časté bylo spojení přihlášky do nové církve s tradičním členstvím v nejstarší české vlastenecké tělocvičné organizaci Sokol, založené v roce 1862. Od samého počátku vzniku NO CČS na Spořilově lze vysledovat členství celých rodin jak v Církvi československé, tak i v Sokole. „Čechoslováci“ byli často „sokoly“. Není proto náhodou, že se bohoslužby Církve československé po dlouhou dobu konaly v prostorách spořilovské Sokolovny.</p>
        <p class="paragraph set-width">První zprávu o činnosti Církve československé na Spořilově nalézáme v Zápisové knize ze dne 2. prosince 1923. Bylo to v době, kdy Spořilov ještě nebyl postaven. Místní výbor CČS vyvíjel občasnou, spíše příležitostnou činnost, například pořádal kulturní a zábavní setkání. Místností občasných schůzí výboru se stala restaurace „U Koukolíků“ v Roztylech, později se výbor začal scházet ve spořilovské restauraci „U Severů“.</p>
        <p class="paragraph set-width">Bohoslužby se tehdy ještě nekonaly, ani nebyla zajištěna pravidelná duchovní péče. Místní výbor CČS Spořilov-Záběhlice patřil v době počátků k náboženské obci v Michli. V březnu roku 1925 došlo k prvnímu sčítání členů CČS, v lednu 1927 bylo prvně žádáno o konání bohoslužeb CČS v oblasti Roztyl. V červnu roku 1927 pořídil Místní výbor husitský prapor, který pak byl rozvinut při slavnostních bohoslužbách. Dne 8. listopadu 1929 konal v klubovně hotelu „U Doubravských“ na spořilovském náměstí bohoslužbu bratr Hájek, duchovní ze sousední michelské náboženské obce CČS.</p>
        <p class="paragraph set-width">Koncem dvacátých let již Spořilov začal žít také nový nábožensko-církevní život. Místní výbor CČS, složený z nových členů Církve československé, si jako svou schůzovní místnost výbor zvolil klubovnu v hotelu „U Doubravských“ na Roztylském náměstí. Místní výbor vyvíjel od počátku velké úsilí o získání vhodné místnosti pro bohoslužebná shromáždění.</p>
        <p class="paragraph set-width">Osobností, jejíž působení se se významně zapsalo do historie spořilovské náboženské obce, byl ThDr. Alois Spisar, jeden ze spoluzakladatelů Církve československé a její významný teolog. Na Spořilov se přistěhoval s manželkou a dvěma syny do nového rodinného domku. Hned od počátku se staral o zahájení pravidelných bohoslužeb v nelehkých podmínkách rozestavěného sídliště a konal bohoslužby v provizorních objektech. Bohoslužebná setkání se konala střídavě v místní Občanské škole, v Sokolovně, v truhlářské dílně i v soukromém bytě. První slavnostní bohoslužby na Spořilově sloužil profesor Spisar ve staré truhlárně o Vánocích roku 1930, což bylo vnímáno jako velká společenská a náboženská událost.</p>
        <p class="paragraph set-width">Snahu o získání vlastní bohoslužební místnosti místní výbor znovu oživil v roce 1932, kdy probíhala jednání s Magistrátem hl. m. Prahy o možnosti zakoupení kostelíka, který měl být přivezen z Podkarpatské Rusi. Později však z tohoto projektu sešlo, zejména pro vysoké finanční nároky převozu.</p>
        <p class="paragraph set-width">Farní úřad CČS se nacházel v Michli v Táborské ulici, úřední hodiny byly denně kromě soboty od 8 do 11 hodin. V Obecné škole na Spořilově probíhala náboženská výchova dětí v duchu moderní národní církve. V roce 1934 byl založen „Výbor pro založení náboženské obce na Spořilově“. Místní výbor usiloval o získání pozemku pro stavbu sboru, kde by bylo i místo pro pietní uložení uren – kolumbárium. Byl založen „Stavební fond na výstavbu sboru“.</p>
        <p class="paragraph set-width">Bohoslužby se od roku 1935 konaly již pravidelně ve třídě nové budovy Obecné školy smíšené na Spořilově. Vedle bratra ThDr. Aloise Spisara sloužil bohoslužby též bratr duchovní Emil Dlouhý-Pokorný ml., spořilovský občan, a po roce 1937 i různí bratři bohoslovci. V květnu 1937 vznikl sociální odbor, později pozměněný na Odbor sociální práce CČS, který vyvíjel bohatou sociální a kulturní činnost.</p>
        <p class="paragraph set-width">V červnu roku 1939 konal na Spořilově poprvé bohoslužby jáhen Vladimír Lenc, tehdejší bohoslovec a pozdější spořilovský duchovní bratr. V říjnu téhož roku založil „Jednotu mládeže CČS na Spořilově“. V roce 1940 byl vysvěcen na kněze a úředně přidělen jako pomocný duchovní do náboženské obce ve Vršovicích, avšak s přikázanou službou na Spořilově. Oficiální ustanovení tehdy nebylo možné, protože tam ještě nebyla ustavena samostatná náboženská obec. Ta vznikla až na ustavujícím shromáždění dne 16. února 1941 jako náboženská obec Církve českomoravské (CČM). Nové náboženské obci bylo požehnáno při slavnostních bohoslužbách, které dne 23. března 1941 vykonal tehdejší patriarcha protektorátní CČM, bratr ThDr. Gustav Adolf Procházka, za asistence generálního vikáře bratra Jana Lomoze a nově ustanoveného místního faráře, bratra Vladimíra Lence.</p>
        <p class="paragraph set-width">Církev měla na spořilovském náměstí pronajatou místnost pro činnost farní kanceláře. V ní se ve válečné době konaly biblické hodiny a ideové večery Jednoty mládeže. V roce 1942 skončila architektonická soutěž na projekt vlastního spořilosvkého sboru, z níž vzešel vzešel vítězný návrh v podání manželů ing. arch. Kittrichových. Byl vybrán a zaplacen pozemek na dolním konci Roztylského náměstí a čekalo se na dobu poválečnou, aby byla vystavena definitivní smlouva a mohlo se začít se stavbou sboru. Ačkoliv náboženská obec od svého počátku vyvíjela snahu o zbudování vlastního sboru, v důsledku politické situace i hospodaření v obci tento záměr nebyl uskutečněn.</p>
        <p class="paragraph set-width">V roce 1959 začalo svépomocí budování vlastního sboru na Spořilově, a to v prostorách zadaptovaného rodinného domku v ulici Jihovýchodní VII, č. p. 945/2, na jižním okraji Spořilova. Tento domek byl opraven pro pořeby sboru, v přízemí vznikla modlitebna Aloise Spisara s příslušenstvím, jakož i farní úřad NO Spořilov-Záběhlice. Byt v patře byl určen jako byt pro duchovního správce sboru. První bohoslužba se konala dne 25. ledna 1959, vysvěcení sboru Aloise Spisara na Spořilově se konalo dne 2. dubna 1961.</p>
        <p class="paragraph set-width">U příležitostí jubilea 70 let od založení této malé náboženské obce se dne 27. března 2011 ve spořilovském sboru konalo slavnostní shromáždění, které připomnělo také zásluhy ThDr. Aloise Spisara, jehož jméno modlitebna nese. Dlouholetý člen sboru, br. Ing. Vladimír Prchlík u této příležitosti vydal svoji publikaci „Malá historie NO Spořilov“, v níž shrnul nejdůležitější události let minulých. Bratr Prchlík, taktéž zasloužilý člen České obce sokolské, je rovněž autorem záslužné publikace „Po stopách spořilovských legionářů“ (2015), která – především na základě svědectví pamětníků - mapuje osudy čs. legionářů žijících na Spořilově.</p>
      </div>
    </section>
  </main>
</div>

<button onclick="topFunction()" id="button-to-top" title="Zpět nahoru">Nahoru</button>

  <script>
  // When the user scrolls down 20px from the top of the document, show the button
  window.onscroll = function() {scrollFunction()};

  function scrollFunction() {
    if (document.body.scrollTop > 1000 || document.documentElement.scrollTop > 1000) {
      document.getElementById("button-to-top").style.display = "block";
    } else {
      document.getElementById("button-to-top").style.display = "none";
    }
  }

  // When the user clicks on the button, scroll to the top of the document
  function topFunction() {
    document.body.scrollTop = 0;
    document.documentElement.scrollTop = 0;
  }
</script>