<div class="body-wrapper">
  <main role="main" id="content">
    <section class="section--colored section-pt-150_30 section-pb-90_30">
      <div class="container-px-25 container">
        <h2 class="utilities-color-grey utilites-mb-5 utilities-mb-10">Náboženská obec Praha-Spořilov</h2>
        <h1 class="utilities-font-60_32 utilities-mb-20 utilities-mb-30" style="max-width: 830px;">Pastorační péče</h1>
          <div class="stack stack--align_top stack--spacing">
            <div class="stack__item stack__fluid">
                <p class="utilities-color-grey author-date">vytvořeno 14. března 2019</p>
            </div>
          </div>
      </div>
    </section> 
    <div class="article-header">
      <div class="container-px-25 container--large container--no-padding">
        <div class="stack">
          <div class="stack__item article-header-leftcolumn">
            <div class="image--overflow_hidden image__cropped image-color-darkpink utilities-mb-20 article-header__image">
              <div class="image__container image__opacity image__loaded"><%= image_tag 'pastor-compressed.jpg', class: 'image__img image__loaded', alt: 'Ruka s křížkem v ruce.' %>
                
              </div>
            </div>
            <p class="utilities-font-12 utilities-fweight-300  utilities-mb-0_30" style="margin-left: 25px;">Zdroj fotografie: <a class="link" rel="noopener" target="_blank" href="https://unsplash.com/photos/MEDl1KkJSsE">Constantinos Panagopoulos z Unsplash</a>
            </p>
          </div>
        </div>
      </div>
    </div>
    <section class=" utilities-mb-30" style="padding-top: 40px;">
      <div class="container-px-25 container">
        <h2 class="utilities-font-24_20 utilities-mb-15 utilities-mb-25">Příprava k svátostem</h2>
      </div>
      <div class="container-px-25 container">
        <div class="layout layout__spacing-20-leftoff">
          <div class="layout__item  layout-onethird utilities-mb-20">
            <a class="link-with-chev" href="/svatost-krest">
              <div class="card card-dimensions utilities-mb-15">
                <h2 class="utilities-font-24_20 card__inner utilities-mb-0_30 ">Svátost křtu
                </h2>
              </div>
            </a>
          </div>

          <div class="layout__item  layout-onethird utilities-mb-20">
            <a class="link-with-chev" href="/svatost-manzelstvi">
              <div class="card card-dimensions utilities-mb-15">
                <h2 class="utilities-font-24_20 card__inner utilities-mb-0_30 ">Svátost manželství
                </h2>
              </div>
            </a>
          </div>

          <div class="layout__item  layout-onethird utilities-mb-20">
            <a class="link-with-chev" href="/svatost-zpoved">
              <div class="card card-dimensions utilities-mb-15">
                <h2 class="utilities-font-24_20 card__inner utilities-mb-0_30 ">Svátost zpovědní
                </h2>
              </div>
            </a>
          </div>
        </div>
      </div>
    </section>

    <section class="">
      <div class="container-px-25 container">
        <h2 class="utilities-font-24_20 utilities-mb-15 utilities-mb-25">Duchovní doprovod</h2>
      </div>
      <div class="container-px-25 container">
        <div class="layout layout__spacing-20-leftoff">
          <div class="layout__item  layout-onethird utilities-mb-20">
            <a class="link-with-chev" href="/hodiny">
              <div class="card card-dimensions utilities-mb-15">
                <h2 class="utilities-font-24_20 card__inner utilities-mb-0_30 ">Biblické hodiny
                </h2>
              </div>
            </a>
          </div>

          <div class="layout__item  layout-onethird utilities-mb-20">
            <a class="link-with-chev" href="/domaci">
              <div class="card card-dimensions utilities-mb-15">
                <h2 class="utilities-font-24_20 card__inner utilities-mb-0_30 ">Domácí pobožnost v nemoci
                </h2>
              </div>
            </a>
          </div>

          <div class="layout__item  layout-onethird utilities-mb-20">
            <a class="link-with-chev" href="/pohreb">
              <div class="card card-dimensions utilities-mb-15">
                <h2 class="utilities-font-24_20 card__inner utilities-mb-0_30 ">Poslední rozloučení a pohřeb
                </h2>
              </div>
            </a>
          </div>
        </div>
      </div>
    </section>

    <section class="section-pb-90_30">
      <div class="container-px-25 container">
        <h2 class="utilities-font-24_20 utilities-mb-15 utilities-mb-25">Co pro nás znamená pastorační péče</h2>
      </div>
      <div class="container-px-25 container utilities-mb-30">
        <p class="paragraph initial utilities-mb-30">Označení pro celou řadu duchovních činností. Ty se odvíjejí od křesťanského společenství a vztahu jedince (bratra či sestry) v osobním vztahu s duchovním dané náboženské obce. V pastorační péči se zároveň objevují prvky svátostné, a ve více případech může vést i k svátosti samotné.
      </div>
    </section>
  </main>
</div>