<div class="body-wrapper">
  <main role="main" id="content">
    <section class="section--colored section-pt-150_30 section-pb-90_30">
      <div class="container-px-25 container">
        <h2 class="utilities-color-grey utilites-mb-5 utilities-mb-10">Náboženská obec Praha-Spořilov</h2>
        <h1 class="utilities-font-60_32 utilities-mb-20 utilities-mb-30" style="max-width: 830px;">Domov pro seniory</h1>
          <div class="stack stack--align_top stack--spacing">
            <div class="stack__item stack__fluid">
                <p class="utilities-color-grey author-date">vytvořeno 14. března 2019</p>
            </div>
          </div>
      </div>
    </section>
    <div class="article-header">
      <div class="container-px-25 container--large container--no-padding">
        <div class="stack">
          <div class="stack__item article-header-leftcolumn">
            <div class="image--overflow_hidden image__cropped image-color-darkpink utilities-mb-20 article-header__image">
              <div class="image__container image__opacity image__loaded"><%= image_tag 'retirement-compressed.jpg', class: 'image__img image__loaded', alt: 'Muž a žena pokročilejšího věku sedící v křeslech.' %>
                
              </div>
            </div>
            <p class="utilities-font-12 utilities-fweight-300  utilities-mb-0_30" style="margin-left: 25px;">Zdroj fotografie: <a class="link" rel="noopener" target="_blank" href="https://unsplash.com/photos/zdvrozV4Lr8">Elien Dumon z Unsplash</a>
            </p>
          </div>
        </div>
      </div>
    </div>
    <section class="section-pt-150_30 section-pb-90_30">
      <div>
        <p class="paragraph set-width initial">Církev československá má dlouholeté zkušenosti jak v oblasti sociální, podpůrné, svátostné a bohoslužebné. Ty vychází jak z tradice západní, tak i východní církve a navazují na myšlení a ideje reformních snah v českých zemích. Její hlavním posláním je zvěstovat Evangelium v moderní době, které by bylo srozumitelné každému člověku.</p>
        <p class="paragraph set-width"> Respektuje svobodné rozhodování a možnost podílet se na duchovním klimatu společenství, do kterého člověk přirozeně patří a které může vytvářet. Klade důraz na svobodu svědomí každé lidské bytosti, s ohledem na plnost života, osobní zkušenosti i vyznání každého věřícího, či hledajícího člověka.</p>
      </div>
    </section>

    <section class="">
      <div class="paragraph set-width">
        <div class="">
          <h2 class=" utilities-mb-15 utilities-mb-25">S čím přicházíme?</h2>
        </div>
        <div>
          <h3 class="utilities-font-24_20 utilities-mb-15 utilities-mb-25">Sociálně-pastorační služba</h3>

          <div class="paragraph set-width">
            <ul class="list">
              <li>motivační a podpůrné rozhovory v obtížných životních situacích</li>
              <li>asistence a doprovod klientů se sníženou pohyblivostí</li>
              <li>možnost naslouchání</li>
              <li>podpůrná služba nově příchozím klientům a pomoc při orientaci v novém prostředí</li>
              <li>spoluúčast na nové životní situaci a nové etapě života</li>
              <li>posílení integrity člověka</li>
              <li>uchování lidské důstojnosti v životě i v čase odchodu člověka</li>
              <li>zlepšování mezilidských vztahů mezi sousedy i v kruhu rodiny</li>
            </ul>  
          </div>
        </div>

        <div>
          <h3 class="utilities-font-24_20 utilities-mb-15 utilities-mb-25">Duchovní služba</h3>

          <div class="paragraph set-width">
            <ul class="list">
              <li>pravidelné bohoslužby (každou neděli v 14:00, bohoslužeb se může zúčastnit i široká veřejnost)</li>
              <li>služba svátostná mimo společenství (svátost eucharistie je vysluhována i těm, kteří z důvodu nemoci mají omezený přístup do kaple)</li>
              <li>návštěvy nemocných v areálu domova pro seniory</li>
              <li>návštěvy nemocných v nemocničním zařízení (v případě zhoršení zdravotního stavu vedoucího k hospitalizování mimo domov, duchovní navštěvuje v dané nemocnici)</li>
              <li>individuální modlitba s rodinou u lůžka nemocného (možnost této služby je po individuální dohodě)</li>
              <li>svátost smíření</li>
              <li>modlitby součástí bohoslužby za nemocné (na recepci je možnost zapsat přímluvu či modlitbu za konkrétního člověka)</li>
              <li>modlitby za zemřelé (na recepci je možnost zapsat přímluvu či modlitbu za nemocné)</li>
            </ul>  
          </div>
        </div>

        <div>
          <h3 class="utilities-font-24_20 utilities-mb-15 utilities-mb-25">Ekumenická kaple</h3>

          <p class="paragraph set-width initial">Při vstupu po levé straně byla dne 30. března 2019 předána do užívání obyvatelům i zaměstnancům nová kaple. Její využití je časově omezeno. Informace o dění na vývěskách po celém areálu Domova pro seniory Zahradního města. Kaple slouží k setkávání, společné modlitbě a Mši sváté i k bohoslužbám.</p>
        </div>
      </div>
    </section>
  </main>
</div>