<div class="body-wrapper">
  <main role="main" id="content">
    <section class="section--colored section-pt-150_30 section-pb-90_30">
      <div class="container-px-25 container">
        <h2 class="utilities-color-grey utilites-mb-5 utilities-mb-10">Náboženská obec Praha-Spořilov</h2>
        <h1 class="utilities-font-60_32 utilities-mb-20 utilities-mb-30" style="max-width: 830px;">Personální složení správy náboženské obce ve vnitřních i vnějších vztazích</h1>
          <div class="stack stack--align_top stack--spacing">
            <div class="stack__item stack__fluid">
                <p class="utilities-color-grey author-date">vytvořeno 20. srpna 2020</p>
            </div>
          </div>
      </div>
    </section>
    <section class="section-pt-150_30 section-pb-90_30">
      <div>
         <p class="paragraph set-width">Tři odpovědné statutární osoby, které se podílí na chodu, rozhodování v náboženské obci a dle zákona jsou též právní osobou v zastupování, jednání a právní odpovědnosti obce a státu.</p>
       </div>
     </section>
     <section class="">
      <div>
        <p class="paragraph set-width initial">Kněz, osoba ustanovena či odvolána diecézní radou.</p>
        <div class="paragraph set-width">
          <p>Odpovídá za:</p>
          <ul class="list">
            <li>duchovní život v náboženské obci (pravidelné bohoslužby, konání svátostí a pohřbů)</li>
            <li>edukační činnost (příprava hodin náboženství dospělé i děti)</li>
            <li>přípravy k svátostem</li>
            <li>sociální činnost péče o seniory ve spádové oblasti, kde se náboženská obec nachází</li>
            <li>povzbuzení a návštěvy nemocných, sociální výpomoc a poradenství</li>
            <li>přípravy svátků a kulturního dění v naší obci</li>
            <li>vede matriku a odpovídá za matriční údaje v obci</li>
          </ul>
        </div>
      </div>
    </section>

    <section class="utilities-mt-70_20">
      <div>
        <p class="paragraph set-width initial">Předseda rady starších, osoba volena na shromáždění náboženské obce konané každý rok jeho funkční období po volbě je v trvání 6. let tato služba pro obec je funkcí čestnou bez nároku na mzdu.</p>
        <div class="paragraph set-width">
          <p>Odpovídá za:</p>
          <ul class="list">
            <li>správu hmotného majetku náboženské obce budovy a pozemku</li>
            <li>připravuje k návrhu nájemní smlouvy nové a odpovídá při ukončení nájmu za předání prostor, a s tím souvisejících dokumentů</li>
            <li>poptává nové nájemce</li>
            <li>odpovídá za technický stav zařízení farní budovy</li>
            <li>předkládá návrhy oprav k projednání radě starších</li>
            <li>svolává a vede členy rady starších při jednání</li>
          </ul>
        </div>
      </div>
    </section>

    <section class="utilities-mt-70_20">
      <div>
        <p class="paragraph set-width initial">Rada starších se skládá z aktivních členů obce projevujících zájem podílet se ze své svobodné vůle na správě i kontrole pravomocí kněze pouze jen v záležitostech světského charakteru. </p> 
        <p class="paragraph set-width">Jedná se o volený orgán složený z věřících náboženské obce ve funkčním období 6 let. Schází se vždy první úterý v měsíci od 15:00. Závěr je vždy po projednání předem připraveného programu jednání, které obdrží členové rady e-mailem či po nedělní bohoslužbě s týdenním předstihem.</p>
        <p class="paragraph set-width">Z každé rady je archivován zápis o jednání k nahlédnutím členům obce. Žádosti, návrhy i dotazy připravuje a shromažďuje předseda rady po dobu uzávěrky jednacího programu, který se již výše zmíněný předkládá s týdenním předstihem před zasedáním rady.</p>
      </div>
    </section>
  </main>
</div>

<button onclick="topFunction()" id="button-to-top" title="Zpět nahoru">Nahoru</button>

  <script>
  // When the user scrolls down 20px from the top of the document, show the button
  window.onscroll = function() {scrollFunction()};

  function scrollFunction() {
    if (document.body.scrollTop > 1000 || document.documentElement.scrollTop > 1000) {
      document.getElementById("button-to-top").style.display = "block";
    } else {
      document.getElementById("button-to-top").style.display = "none";
    }
  }

  // When the user clicks on the button, scroll to the top of the document
  function topFunction() {
    document.body.scrollTop = 0;
    document.documentElement.scrollTop = 0;
  }
</script>