<div class="body-wrapper">
  <main role="main" id="content">
    <section class="section--colored section-pt-150_30 section-pb-90_30">
      <div class="container-px-25 container">
        <h2 class="utilities-color-grey utilites-mb-5 utilities-mb-10">Duchovní doprovod</h2>
        <h1 class="utilities-font-60_32 utilities-mb-20 utilities-mb-30" style="max-width: 830px;">Biblické hodiny</h1>
          <div class="stack stack--align_top stack--spacing">
            <div class="stack__item stack__fluid">
                <p class="utilities-color-grey author-date">vytvořeno 14. března 2019</p>
            </div>
          </div>
      </div>
    </section>
    <div class="article-header">
      <div class="container-px-25 container--large container--no-padding">
        <div class="stack">
          <div class="stack__item article-header-leftcolumn">
            <div class="image--overflow_hidden image__cropped image-color-darkpink utilities-mb-20 article-header__image">
              <div class="image__container image__opacity image__loaded"><%= image_tag 'historie-sporilova.jpg', class: 'image__img image__loaded', alt: 'Vyčpělá fotografie Spořilova' %>
                
              </div>
            </div>
            <p class="utilities-font-12 utilities-fweight-300  utilities-mb-0_30" style="margin-left: 25px;">Zdroj fotografie: <a class="link" rel="noopener" target="_blank" href="http://www.sporilov.info/">Spořilov.info / sb_pohlednice</a>
            </p>
          </div>
        </div>
      </div>
    </div>
    <section class="section-pt-150_30 section-pb-90_30">
      <div>
        <p class="paragraph set-width initial">Seznámení či prohloubení znalostí Písma svatého slouží biblické hodiny, které jsou pravidelně konány ve spolupráci s <a class="link" href="http://www.husuvsbornusle.estranky.cz/">náboženskou obcí CČSH v Praze Nuslích</a>.</p>
        <p class="paragraph set-width">Vždy ve středu jednou za čtrnáct dní od 16:30.</p>
        <p class="paragraph set-width">
        Jedná se o interaktivní setkání věřících, kteří se zaobírají exegezí textu a jednotlivých knih či biblických příběhů. Setkání je na dané téma v rámci liturgie či církevního roku. Nové téma často volí samotní posluchači, kteří vytváří přívětivou atmosféru pravidelných schůzek a s radostí přivítají každého nového posluchače .
        </p>
      </div>
    </section>
    <section class="paragraph set-width">
      <nav class="" role="navigation" aria-label="Pagination">
        <ul class="pagination__list">
          <li class="pagination-item--previous">
            <a class="pagination__link pagination__link--prev" href="/welcome/offers-index">
              <span class="pagination__title">Zpět</span>
              <span class="visually-hidden">:</span>
              <span class="pagination__page">Příprava k svátostem</span>
              <svg class="icon icon__arrow-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
                <path d="M4.1 12.3l2.7 3c.2.2.5.2.7 0 .1-.1.1-.2.1-.3v-2h11c.6 0 1-.4 1-1s-.4-1-1-1h-11V9c0-.2-.1-.4-.3-.5h-.2c-.1 0-.3.1-.4.2l-2.7 3c0 .2 0 .4.1.6z"></path>
              </svg>
            </a>
          </li>
          <li class="pagination-item--next">
            <a class="pagination__link pagination__link--next" href="/offers/domaci">
              <span class="pagination__title">Další</span>
              <span class="visually-hidden">:</span>
              <span class="pagination__page">Domácí pobožnost v nemoci</span>
              <svg class="icon icon__arrow-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
                <path d="M19.6 11.66l-2.73-3A.51.51 0 0 0 16 9v2H5a1 1 0 0 0 0 2h11v2a.5.5 0 0 0 .32.46.39.39 0 0 0 .18 0 .52.52 0 0 0 .37-.16l2.73-3a.5.5 0 0 0 0-.64z"></path>
              </svg>
            </a>
          </li>
        </ul>
      </nav>
    </section>
  </main>
</div>