@import 'variables';

// PAGINATION
.icon {
    height: 34px;
    width: 34px;
}

.icon__arrow-right {
  fill: $red;
}

.icon__arrow-left {
  fill: $red;
}

.pagination__list {
  list-style: none;
  margin-top: 0;
  padding-left: 0;
}

.pagination-item--previous {
  float: left;
  text-align: left;
  width: 50%;
}

.pagination-item--previous .icon {
  left: -6px;
}

.pagination-item--previous .pagination__title {
  padding-left: 32px;
}

.pagination-item--next {
  float: right;
  text-align: right;
  width: 50%;
}

.pagination-item--next .icon {
  right: -6px;
}

.pagination-item--next .pagination__title {
  padding-right: 32px;
}

.pagination__link {
  display: block;
  position: relative;
  text-decoration: none;
  width: 100%;
  border-bottom: 0;
}

@media print {
  .pagination__link {
      color: #212b32;
  }
}

.pagination__link .icon {
  position: absolute;
  top: -2px;
}

@media print {
  .pagination__link .icon {
      color: #212b32;
      margin-top: 0;
  }
}

.pagination__link:hover .pagination__page {
  text-decoration: none;
}

.pagination__link:hover .icon,
.pagination__link:focus .icon {
  fill: $body-color;
}

.pagination__link:visited .icon {
  fill: $red;
}

.pagination__title {
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 1.4;
  display: block;
}

@media (min-width: 641px) {
  .pagination__title {
      font-size: 24px;
      font-size: 1.5rem;
      line-height: 1.33333;
  }
}

@media print {
  .pagination__title {
      font-size: 18pt;
      line-height: 1.15;
  }
}

@media print {
  .pagination__title:after {
      content: ' stránka';
  }
}

.pagination__page {
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.71429;
  display: block;
  text-decoration: underline;
}

@media (min-width: 641px) {
  .pagination__page {
      font-size: 16px;
      font-size: 1rem;
      line-height: 1.5;
  }
}

@media print {
  .pagination__page {
      font-size: 14pt;
      line-height: 1.2;
  }
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
